.about {
	padding: 140px 0 175px;

	@media (max-width: $tablet) {
		padding: 50px 0;
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;

		@media (max-width: $mobile) {
			grid-template-columns: repeat(1, 1fr);
			gap: 20px;
		}
	}

	&__wrapper {
		@media (max-width: $mobile) {
			display: contents;
		}
	}
	&__content {
		margin-bottom: 20px;
		ul {
			list-style: none;
			padding-left: 0;

			li {
				position: relative;
				padding-left: 20px;

				&::before {
					content: "";
					position: absolute;
					left: 0;
					top: 6px;
					width: 11px;
					height: 11px;
					background-color: #284786;
					border-radius: 50%;
				}
			}
		}

		&:first-child {
			@media (max-width: $mobile) {
				order: -1;
			}
		}
	}
	&__img {
		border-radius: 8px;
		overflow: hidden;

		@media (max-width: $mobile) {
			order: -1;
		}
	}
}
