.about-trust {
	position: relative;
	background-color: $accentColor;
	padding: 140px 0 104px;
	overflow: hidden;

	@media (max-width: $tablet) {
		padding: 50px 0 70px;
	}

	&__media {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		picture {
			height: 100%;
		}
	}
	&-container {
	}
	&__header {
		margin-bottom: 40px;
		position: relative;
		z-index: 5;
		.title {
			margin-bottom: 20px;
		}
	}
	&__text {
		color: #fff;
		max-width: 955px;

		@media (max-width: $mobile) {
			font-size: 14px;
		}
	}
	&__body {
		position: relative;
		z-index: 5;
	}
	&__slider {
		padding: 30px 0;
		margin: -30px 0;
	}
	&__wrapper { 
	}
	&__slide {
	}
	&-prev {
		left: -80px;
	}
	&-next {
		right: -80px;
	}
	&__item {
	}
	&__img {
		border-radius: 8px;
		overflow: hidden;

		@media (min-width: $tablet) {
			picture {
				height: 390px;
			}
		}
	}
	&__content {
		padding: 13px 0;
	}
	&__name {
		color: #fff;
		font-size: 18px;
		font-weight: 800;
		line-height: 150%;
	}
}
