.advantages-key {
	margin-bottom: 140px;
	&__header {
		margin-bottom: 30px;
		.title--bl {
			margin-bottom: 20px;
		}

		p {
			color: $accentColor;
			font-size: 18px;
			font-weight: 500;
			line-height: 150%;
			max-width: 800px;
		}
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}
	&__item {
		display: flex;
		align-items: center;
		gap: 30px;
		padding: 50px 30px;
		border-radius: 8px;
		background-color: #fff;
	}
	&__icon {
		width: 68px;
		height: 68px;
		flex: 0 0 68px;
	}
	&__text {
	}
}
