.center-hero {
	position: relative;
	z-index: 5;
	margin-bottom: 120px;
	@media (max-width: $mobile) {
		margin-bottom: 20px;
	}
	&__body {
		display: grid;
		grid-template-columns: 1fr 590px;
		gap: 40px;

		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}

		@media (max-width: $mobile) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&__content {
		max-width: 550px;
		.title {
			margin-bottom: 20px;
		}

		p {
			color: #fff;
			font-size: 18px;
			font-weight: 500;
			line-height: 150%;
			margin-bottom: 40px;

			@media (max-width: $tablet) {
				font-size: 16px;
			}
		}
	}
	&__img {
		picture {
			border-radius: 8px;
			overflow: hidden;
		}
	}
}
