.center-benches {
	margin-bottom: 100px;

	@media (max-width: $tablet) {
		margin-bottom: 50px;
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;

		@media (max-width: $mobile) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&__content {
	}
	&__img {
		picture {
			border-radius: 8px;
			overflow: hidden;
		}
	}
}
