.center-benches {
	margin-bottom: 100px;
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}
	&__content {
	}
	&__img {
		border-radius: 8px;
		overflow: hidden;
	}
}
