.decisions-taxonomy {
	position: relative;
	z-index: 5;
	margin-bottom: 100px;

	@media (max-width: $tablet) {
		margin-bottom: 50px;
	}

	.title {
		margin-bottom: 40px;
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;

		@media (max-width: $tablet) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}

		.about-decision__img {
			height: 346px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 25px;
			@media (max-width: $tablet) {
				height: 240px;
				padding: 10px;
			}

			@media (max-width: $mobile) {
				height: 160px;
			}
			picture {
				height: 100%;
			}
		}
	}
}
