.decisions {
	position: relative;
	z-index: 5;
	margin-bottom: 100px;

	@media (max-width: $tablet) {
		margin-bottom: 50px;
	}

	.title {
	}

	&__header {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		align-items: center;
		margin-bottom: 40px;

		.decisions__media {
			width: 220px;
		}
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;

		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}

		.about-decision__img {
			height: 465px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 25px;

			@media (max-width: $tablet) {
				height: 350px;
				padding: 10px;
			}

			@media (max-width: $mobile) {
				height: 160px;
			}
			picture {
				height: 100%;
			}
		}
	}
}
