.map {
	background-color: #f4f4f4;
	padding: 0 0 140px 0;

	&__wrapper {
		position: relative;
		z-index: 5;
	}
	&__header {
		.title--bl {
			margin-bottom: 20px;
		}
		p {
			color: $accentColor;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
		}
	}
	&__body {
	}
}
