.map {
    background-color: #f4f4f4;
    padding: 0 0 140px 0;
    @media (max-width: $tablet) {
        padding: 0 0 50px 0;
    }

    &__wrapper {
        position: relative;
        z-index: 5;

        @media (max-width: $mobile) {
            margin-bottom: 20px;
        }
    }
    &__header {
        .title--bl {
            margin-bottom: 20px;
        }
        p {
            color: $accentColor;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;

            @media (max-width: $tablet) {
                font-size: 15px;
            }
        }
    }
    &__body {
        margin-top: -55px;
        position: relative;
        @media (max-width: 1366px) {
            max-width: 768px;
            margin: 0 auto;
        }

        @media (max-width: $mobile) {
            max-width: 330px;
        }

        @media (max-width: $tablet) {
            margin-top: 0;
        }
    }
}

.mapTitles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;

    .cityItem {
        position: absolute;
        color: $accentColor;
        font-size: 11px;
        font-weight: 500;
        line-height: 150%;
        text-transform: uppercase;

        @media (max-width: 1366px) {
            font-size: 10px;
        }

        @media (max-width: $mobile) {
            span {
                display: none;
            }
        }

        .dot {
            width: 10px;
            height: 10px;
            background: transparent;
            background-color: $accentColor;
            position: absolute;
            top: 3px;
            border-radius: 100%;
			transition: all 0.6s ease-in-out;

            @media (max-width: 1366px) {
                width: 5px;
                height: 5px;
                top: 5px;
            }
        }

        &.is-active .dot {
            width: 16px;
            height: 16px;
            top: -2px;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_2029)'%3E%3Cpath d='M9.48353 19.2675C7.4354 19.2699 5.45909 18.5131 3.93654 17.1431C2.414 15.7732 1.45335 13.8875 1.24026 11.8505C1.02717 9.8135 1.57676 7.76983 2.78283 6.11446C3.9889 4.4591 5.7658 3.30959 7.77009 2.88813C9.77438 2.46666 11.8638 2.80316 13.6344 3.83259C15.405 4.86201 16.7311 6.51126 17.3565 8.46158C17.9819 10.4119 17.8621 12.5248 17.0202 14.3919C16.1784 16.259 14.6743 17.7478 12.7986 18.5704C11.7535 19.029 10.6248 19.2664 9.48353 19.2675ZM9.48353 5.59224C8.73696 5.58979 7.99817 5.74389 7.31482 6.04457C6.00013 6.61975 4.96779 7.69361 4.44487 9.02995C3.92196 10.3663 3.95135 11.8556 4.52652 13.1703C5.1017 14.485 6.1756 15.5174 7.51193 16.0403C8.84827 16.5632 10.3375 16.5338 11.6522 15.9587C12.7898 15.4614 13.7214 14.5876 14.2903 13.4842C14.8593 12.3809 15.0311 11.1152 14.7766 9.90011C14.522 8.68503 13.8569 7.59466 12.8929 6.81236C11.929 6.03007 10.725 5.60357 9.48353 5.60462' fill='%23013371'/%3E%3Cpath d='M10.5368 22C10.0096 21.9745 9.48471 21.9124 8.96606 21.8141L10.3695 14.4963C10.5343 14.5267 10.701 14.5464 10.8684 14.5551H11.0263L10.9892 21.9907C10.8374 21.9907 10.6794 21.9907 10.5368 21.9907M13.0154 21.8172L11.6645 14.4901C11.8761 14.449 12.0835 14.3889 12.2842 14.3104L15.0416 21.2347L14.9455 21.2719C14.3164 21.5139 13.6661 21.6965 13.003 21.8172M6.99568 21.2441C6.36519 20.9972 5.7585 20.6934 5.18323 20.3363L9.12717 14.0099C9.3143 14.1252 9.51126 14.2237 9.71579 14.3042L6.99568 21.2441ZM16.8137 20.3518L12.8883 14.013C13.0733 13.899 13.2476 13.7683 13.4088 13.6226L18.4402 19.1249C17.9384 19.5884 17.3938 20.0034 16.8137 20.3642M3.55981 19.1249C3.05909 18.6672 2.6017 18.1642 2.19351 17.6223L8.17912 13.1424C8.31197 13.3165 8.46031 13.4782 8.62221 13.6257L3.55981 19.1249ZM19.8127 17.6378L13.8674 13.1424C13.9995 12.9662 14.1156 12.7785 14.2143 12.5816L20.9001 15.909C20.5961 16.514 20.2384 17.0905 19.8313 17.6316M1.14323 15.8842C0.991424 15.5744 0.855119 15.2646 0.731193 14.9548C0.607267 14.645 0.508126 14.3352 0.421378 14.0068L7.60291 11.9713C7.63389 12.0766 7.66792 12.185 7.7082 12.2811C7.74847 12.3771 7.795 12.4887 7.84457 12.5909L1.14323 15.8842ZM21.6313 14.0253L14.4529 11.9806C14.5131 11.77 14.5536 11.5542 14.5737 11.3362L22.0093 12.0332C21.9457 12.7076 21.8191 13.3745 21.6313 14.0253ZM0.0434124 12.0054C-0.000968504 11.5078 -0.01135 11.0079 0.0124007 10.509C0.0124007 10.3262 0.0309881 10.1496 0.049577 9.96988L7.48514 10.6762C7.48514 10.7351 7.48514 10.7909 7.48514 10.8497C7.47431 11.0096 7.47431 11.1701 7.48514 11.33L0.0434124 12.0054ZM14.5737 10.6855C14.5548 10.4683 14.5143 10.2535 14.4529 10.0442L21.6344 7.99946C21.8207 8.65154 21.9461 9.31946 22.0093 9.99467L14.5737 10.6855ZM7.60601 10.0349L0.42758 7.97467C0.615782 7.32429 0.863659 6.69267 1.16804 6.08788L7.84457 9.4246C7.7461 9.62334 7.66624 9.83077 7.60601 10.0442M14.2143 9.4246C14.1171 9.2295 14.002 9.04385 13.8705 8.87004L19.8344 4.3839C20.2444 4.92519 20.6022 5.50403 20.9032 6.11267L14.2143 9.4246ZM8.19773 8.85453L2.24309 4.35913C2.65445 3.81894 3.11379 3.31706 3.61555 2.85962L8.64074 8.37432C8.47889 8.52071 8.33062 8.68143 8.19773 8.85453ZM13.4398 8.38362C13.2767 8.23563 13.1004 8.10288 12.9131 7.98705L16.8477 1.65133C17.4252 2.01309 17.9677 2.42798 18.4681 2.89059L13.4398 8.38362ZM9.16129 7.98087L5.24518 1.63584C5.82316 1.28232 6.43186 0.981625 7.06383 0.737391L9.7468 7.68964C9.53983 7.76785 9.3407 7.86536 9.15198 7.98087M12.3121 7.69272C12.112 7.61248 11.9044 7.5523 11.6925 7.51304L13.0773 0.189012C13.7385 0.316483 14.3867 0.504186 15.0137 0.749776L12.3121 7.69272ZM10.3819 7.50994L9.00638 0.185911C9.67656 0.06068 10.3569 -0.00154686 11.0387 2.92003e-05V7.43559C10.8224 7.4361 10.6067 7.45685 10.3943 7.49756' fill='%23009CDE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_2029'%3E%3Crect width='22' height='22' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            background-color: transparent;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        @media (any-hover: hover) {
            &:hover {
                .dot {
                    width: 16px;
                    height: 16px;
                    top: -2px;
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_2029)'%3E%3Cpath d='M9.48353 19.2675C7.4354 19.2699 5.45909 18.5131 3.93654 17.1431C2.414 15.7732 1.45335 13.8875 1.24026 11.8505C1.02717 9.8135 1.57676 7.76983 2.78283 6.11446C3.9889 4.4591 5.7658 3.30959 7.77009 2.88813C9.77438 2.46666 11.8638 2.80316 13.6344 3.83259C15.405 4.86201 16.7311 6.51126 17.3565 8.46158C17.9819 10.4119 17.8621 12.5248 17.0202 14.3919C16.1784 16.259 14.6743 17.7478 12.7986 18.5704C11.7535 19.029 10.6248 19.2664 9.48353 19.2675ZM9.48353 5.59224C8.73696 5.58979 7.99817 5.74389 7.31482 6.04457C6.00013 6.61975 4.96779 7.69361 4.44487 9.02995C3.92196 10.3663 3.95135 11.8556 4.52652 13.1703C5.1017 14.485 6.1756 15.5174 7.51193 16.0403C8.84827 16.5632 10.3375 16.5338 11.6522 15.9587C12.7898 15.4614 13.7214 14.5876 14.2903 13.4842C14.8593 12.3809 15.0311 11.1152 14.7766 9.90011C14.522 8.68503 13.8569 7.59466 12.8929 6.81236C11.929 6.03007 10.725 5.60357 9.48353 5.60462' fill='%23013371'/%3E%3Cpath d='M10.5368 22C10.0096 21.9745 9.48471 21.9124 8.96606 21.8141L10.3695 14.4963C10.5343 14.5267 10.701 14.5464 10.8684 14.5551H11.0263L10.9892 21.9907C10.8374 21.9907 10.6794 21.9907 10.5368 21.9907M13.0154 21.8172L11.6645 14.4901C11.8761 14.449 12.0835 14.3889 12.2842 14.3104L15.0416 21.2347L14.9455 21.2719C14.3164 21.5139 13.6661 21.6965 13.003 21.8172M6.99568 21.2441C6.36519 20.9972 5.7585 20.6934 5.18323 20.3363L9.12717 14.0099C9.3143 14.1252 9.51126 14.2237 9.71579 14.3042L6.99568 21.2441ZM16.8137 20.3518L12.8883 14.013C13.0733 13.899 13.2476 13.7683 13.4088 13.6226L18.4402 19.1249C17.9384 19.5884 17.3938 20.0034 16.8137 20.3642M3.55981 19.1249C3.05909 18.6672 2.6017 18.1642 2.19351 17.6223L8.17912 13.1424C8.31197 13.3165 8.46031 13.4782 8.62221 13.6257L3.55981 19.1249ZM19.8127 17.6378L13.8674 13.1424C13.9995 12.9662 14.1156 12.7785 14.2143 12.5816L20.9001 15.909C20.5961 16.514 20.2384 17.0905 19.8313 17.6316M1.14323 15.8842C0.991424 15.5744 0.855119 15.2646 0.731193 14.9548C0.607267 14.645 0.508126 14.3352 0.421378 14.0068L7.60291 11.9713C7.63389 12.0766 7.66792 12.185 7.7082 12.2811C7.74847 12.3771 7.795 12.4887 7.84457 12.5909L1.14323 15.8842ZM21.6313 14.0253L14.4529 11.9806C14.5131 11.77 14.5536 11.5542 14.5737 11.3362L22.0093 12.0332C21.9457 12.7076 21.8191 13.3745 21.6313 14.0253ZM0.0434124 12.0054C-0.000968504 11.5078 -0.01135 11.0079 0.0124007 10.509C0.0124007 10.3262 0.0309881 10.1496 0.049577 9.96988L7.48514 10.6762C7.48514 10.7351 7.48514 10.7909 7.48514 10.8497C7.47431 11.0096 7.47431 11.1701 7.48514 11.33L0.0434124 12.0054ZM14.5737 10.6855C14.5548 10.4683 14.5143 10.2535 14.4529 10.0442L21.6344 7.99946C21.8207 8.65154 21.9461 9.31946 22.0093 9.99467L14.5737 10.6855ZM7.60601 10.0349L0.42758 7.97467C0.615782 7.32429 0.863659 6.69267 1.16804 6.08788L7.84457 9.4246C7.7461 9.62334 7.66624 9.83077 7.60601 10.0442M14.2143 9.4246C14.1171 9.2295 14.002 9.04385 13.8705 8.87004L19.8344 4.3839C20.2444 4.92519 20.6022 5.50403 20.9032 6.11267L14.2143 9.4246ZM8.19773 8.85453L2.24309 4.35913C2.65445 3.81894 3.11379 3.31706 3.61555 2.85962L8.64074 8.37432C8.47889 8.52071 8.33062 8.68143 8.19773 8.85453ZM13.4398 8.38362C13.2767 8.23563 13.1004 8.10288 12.9131 7.98705L16.8477 1.65133C17.4252 2.01309 17.9677 2.42798 18.4681 2.89059L13.4398 8.38362ZM9.16129 7.98087L5.24518 1.63584C5.82316 1.28232 6.43186 0.981625 7.06383 0.737391L9.7468 7.68964C9.53983 7.76785 9.3407 7.86536 9.15198 7.98087M12.3121 7.69272C12.112 7.61248 11.9044 7.5523 11.6925 7.51304L13.0773 0.189012C13.7385 0.316483 14.3867 0.504186 15.0137 0.749776L12.3121 7.69272ZM10.3819 7.50994L9.00638 0.185911C9.67656 0.06068 10.3569 -0.00154686 11.0387 2.92003e-05V7.43559C10.8224 7.4361 10.6067 7.45685 10.3943 7.49756' fill='%23009CDE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_2029'%3E%3Crect width='22' height='22' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                    background-color: transparent;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }

    .cityItem.dotBefore {
        padding-left: 18px;
        @media (max-width: 1366px) {
            padding-left: 10px;
        }
        .dot {
            left: 0;
        }

        @media (any-hover: hover) {
            &:hover {
                .dot {
                    left: -7px;
                }
            }
        }
    }

    .cityItem.dotAfter {
        padding-right: 18px;
        @media (max-width: 1366px) {
            padding-right: 10px;
        }
        .dot {
            right: 0;
        }

        @media (any-hover: hover) {
            &:hover {
                .dot {
                    right: -7px;
                }
            }
        }
    }

    .cityItem[data-city-id="28"] {
        bottom: 11%;
        right: 35.7%;
        @media (max-width: 1366px) {
            bottom: 10%;
            right: 32.7%;
        }

        @media (max-width: $mobile) {
            bottom: 14%;
            right: 37.7%;
        }
    }

    .cityItem[data-city-id="1"] {
        bottom: 17%;
        right: 7.7%;
        @media (max-width: 1366px) {
            bottom: 17%;
            right: 2.9%;
        }
        @media (max-width: $mobile) {
            bottom: 19%;
            right: 10.9%;
        }
    }
    .cityItem[data-city-id="2"] {
        top: 40.5%;
        left: 49%;
        @media (max-width: 1366px) {
            top: 39.5%;
            left: 49.6%;
        }
    }
    .cityItem[data-city-id="3"] {
        bottom: 20.5%;
        left: 50.5%;

        @media (max-width: $mobile) {
            bottom: 22.5%;
            left: 50.5%;
        }
    }
    .cityItem[data-city-id="5"] {
        bottom: 19%;
        left: 34.8%;
        @media (max-width: 1366px) {
            bottom: 19%;
            left: 30.2%;
        }

        @media (max-width: $mobile) {
            bottom: 24%;
            left: 40.2%;
        }
    }
    .cityItem[data-city-id="6"] {
        bottom: 13.5%;
        left: 39.4%;
        @media (max-width: 1366px) {
            bottom: 13.3%;
            left: 35%;
        }

        @media (max-width: $mobile) {
            bottom: 19.3%;
            left: 44.2%;
        }
    }
    .cityItem[data-city-id="11"] {
        top: 21%;
        left: 26.4%;
        @media (max-width: 1366px) {
            top: 20.5%;
            left: 26.4%;
        }
    }
    .cityItem[data-city-id="12"] {
        top: 23.5%;
        left: 25.6%;
        @media (max-width: 1366px) {
            top: 23.5%;
            left: 25.6%;
        }
    }
    .cityItem[data-city-id="13"] {
        top: 26%;
        left: 25%;
    }
    .cityItem[data-city-id="27"] {
        bottom: 39.5%;
        left: 26.3%;
        @media (max-width: 1366px) {
            bottom: 38.5%;
            left: 26.2%;
        }

        @media (max-width: $mobile) {
            bottom: 42.5%;
            left: 26.6%;
        }
    }
    .cityItem[data-city-id="14"] {
        bottom: 42.5%;
        left: 27.3%;

        @media (max-width: 1366px) {
            bottom: 41.5%;
            left: 27.6%;
        }

        @media (max-width: $mobile) {
            bottom: 45.8%;
            left: 27.6%;
        }
    }
    .cityItem[data-city-id="15"] {
        bottom: 33.7%;
        left: 28.8%;
        @media (max-width: 1366px) {
            bottom: 32.7%;
            left: 28.6%;
        }

        @media (max-width: $mobile) {
            bottom: 35.7%;
            left: 28.6%;
        }
    }
    .cityItem[data-city-id="16"] {
        bottom: 30.2%;
        left: 27.2%;
        @media (max-width: 1366px) {
            bottom: 29.2%;
            left: 27.2%;
        }

        @media (max-width: $mobile) {
            bottom: 32.2%;
            left: 27.2%;
        }
    }
    .cityItem[data-city-id="17"] {
        bottom: 27.2%;
        left: 25.2%;
        @media (max-width: 1366px) {
            bottom: 26.2%;
            left: 25.2%;
        }

        @media (max-width: $mobile) {
            bottom: 29.2%;
            left: 25.2%;
        }
    }
    .cityItem[data-city-id="19"] {
        top: 19.6%;
        left: 19.5%;
        @media (max-width: 1366px) {
            top: 19.3%;
            left: 17.3%;
        }

        @media (max-width: $mobile) {
            top: 19.3%;
            left: 21.8%;
        }
    }
    .cityItem[data-city-id="20"] {
        top: 25.9%;
        left: 13.5%;
        @media (max-width: 1366px) {
            top: 25%;
            left: 9%;
        }

        @media (max-width: $mobile) {
            top: 25%;
            left: 18.5%;
        }
    }
    .cityItem[data-city-id="21"] {
        top: 37.7%;
        left: 17.3%;
        @media (max-width: 1366px) {
            top: 37.4%;
            left: 17.3%;
        }

        @media (max-width: $mobile) {
            top: 37.4%;
            left: 17.6%;
        }
    }
    .cityItem[data-city-id="22"] {
        bottom: 46.7%;
        left: 16.3%;

        @media (max-width: $mobile) {
            bottom: 50%;
            left: 16.3%;
        }
    }
    .cityItem[data-city-id="23"] {
        bottom: 44.7%;
        left: 11.9%;
        @media (max-width: 1366px) {
            bottom: 44%;
            left: 12%;
        }

        @media (max-width: $mobile) {
            bottom: 47.5%;
            left: 11.5%;
        }
    }
    .cityItem[data-city-id="24"] {
        bottom: 50%;
        left: 9.1%;
        @media (max-width: 1366px) {
            bottom: 49.5%;
            left: 9.1%;
        }

        @media (max-width: $mobile) {
            bottom: 52.5%;
            left: 9.1%;
        }
    }
    .cityItem[data-city-id="25"] {
        bottom: 44%;
        left: 1.8%;
        @media (max-width: 1366px) {
            bottom: 43.5%;
            left: -3%;
        }

        @media (max-width: $mobile) {
            bottom: 47.5%;
            left: 7%;
        }
    }
    .cityItem[data-city-id="26"] {
        top: 31.9%;
        left: 15.2%;

        @media (max-width: $mobile) {
            span {
                display: block !important;
            }
            .dot {
                width: 16px;
                height: 16px;
                top: -2px;
                background-image: url("data:image/svg+xml,%0A%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_2029)'%3E%3Cpath d='M9.48353 19.2675C7.4354 19.2699 5.45909 18.5131 3.93654 17.1431C2.414 15.7732 1.45335 13.8875 1.24026 11.8505C1.02717 9.8135 1.57676 7.76983 2.78283 6.11446C3.9889 4.4591 5.7658 3.30959 7.77009 2.88813C9.77438 2.46666 11.8638 2.80316 13.6344 3.83259C15.405 4.86201 16.7311 6.51126 17.3565 8.46158C17.9819 10.4119 17.8621 12.5248 17.0202 14.3919C16.1784 16.259 14.6743 17.7478 12.7986 18.5704C11.7535 19.029 10.6248 19.2664 9.48353 19.2675ZM9.48353 5.59224C8.73696 5.58979 7.99817 5.74389 7.31482 6.04457C6.00013 6.61975 4.96779 7.69361 4.44487 9.02995C3.92196 10.3663 3.95135 11.8556 4.52652 13.1703C5.1017 14.485 6.1756 15.5174 7.51193 16.0403C8.84827 16.5632 10.3375 16.5338 11.6522 15.9587C12.7898 15.4614 13.7214 14.5876 14.2903 13.4842C14.8593 12.3809 15.0311 11.1152 14.7766 9.90011C14.522 8.68503 13.8569 7.59466 12.8929 6.81236C11.929 6.03007 10.725 5.60357 9.48353 5.60462' fill='%23013371'/%3E%3Cpath d='M10.5368 22C10.0096 21.9745 9.48471 21.9124 8.96606 21.8141L10.3695 14.4963C10.5343 14.5267 10.701 14.5464 10.8684 14.5551H11.0263L10.9892 21.9907C10.8374 21.9907 10.6794 21.9907 10.5368 21.9907M13.0154 21.8172L11.6645 14.4901C11.8761 14.449 12.0835 14.3889 12.2842 14.3104L15.0416 21.2347L14.9455 21.2719C14.3164 21.5139 13.6661 21.6965 13.003 21.8172M6.99568 21.2441C6.36519 20.9972 5.7585 20.6934 5.18323 20.3363L9.12717 14.0099C9.3143 14.1252 9.51126 14.2237 9.71579 14.3042L6.99568 21.2441ZM16.8137 20.3518L12.8883 14.013C13.0733 13.899 13.2476 13.7683 13.4088 13.6226L18.4402 19.1249C17.9384 19.5884 17.3938 20.0034 16.8137 20.3642M3.55981 19.1249C3.05909 18.6672 2.6017 18.1642 2.19351 17.6223L8.17912 13.1424C8.31197 13.3165 8.46031 13.4782 8.62221 13.6257L3.55981 19.1249ZM19.8127 17.6378L13.8674 13.1424C13.9995 12.9662 14.1156 12.7785 14.2143 12.5816L20.9001 15.909C20.5961 16.514 20.2384 17.0905 19.8313 17.6316M1.14323 15.8842C0.991424 15.5744 0.855119 15.2646 0.731193 14.9548C0.607267 14.645 0.508126 14.3352 0.421378 14.0068L7.60291 11.9713C7.63389 12.0766 7.66792 12.185 7.7082 12.2811C7.74847 12.3771 7.795 12.4887 7.84457 12.5909L1.14323 15.8842ZM21.6313 14.0253L14.4529 11.9806C14.5131 11.77 14.5536 11.5542 14.5737 11.3362L22.0093 12.0332C21.9457 12.7076 21.8191 13.3745 21.6313 14.0253ZM0.0434124 12.0054C-0.000968504 11.5078 -0.01135 11.0079 0.0124007 10.509C0.0124007 10.3262 0.0309881 10.1496 0.049577 9.96988L7.48514 10.6762C7.48514 10.7351 7.48514 10.7909 7.48514 10.8497C7.47431 11.0096 7.47431 11.1701 7.48514 11.33L0.0434124 12.0054ZM14.5737 10.6855C14.5548 10.4683 14.5143 10.2535 14.4529 10.0442L21.6344 7.99946C21.8207 8.65154 21.9461 9.31946 22.0093 9.99467L14.5737 10.6855ZM7.60601 10.0349L0.42758 7.97467C0.615782 7.32429 0.863659 6.69267 1.16804 6.08788L7.84457 9.4246C7.7461 9.62334 7.66624 9.83077 7.60601 10.0442M14.2143 9.4246C14.1171 9.2295 14.002 9.04385 13.8705 8.87004L19.8344 4.3839C20.2444 4.92519 20.6022 5.50403 20.9032 6.11267L14.2143 9.4246ZM8.19773 8.85453L2.24309 4.35913C2.65445 3.81894 3.11379 3.31706 3.61555 2.85962L8.64074 8.37432C8.47889 8.52071 8.33062 8.68143 8.19773 8.85453ZM13.4398 8.38362C13.2767 8.23563 13.1004 8.10288 12.9131 7.98705L16.8477 1.65133C17.4252 2.01309 17.9677 2.42798 18.4681 2.89059L13.4398 8.38362ZM9.16129 7.98087L5.24518 1.63584C5.82316 1.28232 6.43186 0.981625 7.06383 0.737391L9.7468 7.68964C9.53983 7.76785 9.3407 7.86536 9.15198 7.98087M12.3121 7.69272C12.112 7.61248 11.9044 7.5523 11.6925 7.51304L13.0773 0.189012C13.7385 0.316483 14.3867 0.504186 15.0137 0.749776L12.3121 7.69272ZM10.3819 7.50994L9.00638 0.185911C9.67656 0.06068 10.3569 -0.00154686 11.0387 2.92003e-05V7.43559C10.8224 7.4361 10.6067 7.45685 10.3943 7.49756' fill='%23009CDE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_2029'%3E%3Crect width='22' height='22' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                background-color: transparent;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .cityItem[data-city-id="29"] {
        bottom: 45.5%;
        right: 29.7%;
        @media (max-width: 1366px) {
            bottom: 45%;
            right: 27%;
        }

        @media (max-width: $mobile) {
            bottom: 52%;
            right: 32%;
        }
    }
    .cityItem[data-city-id="30"] {
        bottom: 41.5%;
        right: 29%;
        @media (max-width: 1366px) {
            bottom: 41%;
            right: 26.8%;
        }

        @media (max-width: $mobile) {
            bottom: 48%;
            right: 30.8%;
        }
    }
}

.map__list {
    display: none;

    @media (max-width: $mobile) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    li {
        span {
            color: $accentColor;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            text-transform: capitalize;
        }
    }
}
