.news {
	padding: 0 0 120px;
	&__header {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;

		.news__item:nth-child(11n + 1) {
			grid-column: span 2;
			grid-row: span 2;

			.news__img {
				picture {
					height: 593px;
				}
			}
		}

		.projects__img {
			margin-bottom: 0;
			&::before {
				content: none;
			}
			picture {
				height: 230px;
			}
		}

		.projects__item {
			border-radius: 8px;
			padding: 0;
		}

		.projects__content {
			padding: 15px;
		}

		.projects__item:nth-child(11n + 1) {
			grid-column: span 2;
			grid-row: span 2;

			.projects__img {
				picture {
					height: 710px;
				}
			}
		}
	}

	&__item {
		background-color: #fff;
		border-radius: 8px;
		position: relative;
		display: flex;
		flex-direction: column;
	}
	&__img {
		picture {
			height: 230px;
			border-radius: 8px;
			overflow: hidden;
		}
	}
	&__content {
		padding: 20px;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__name {
		margin-bottom: 10px;
		color: $mainColor;
		font-size: 16px;
		font-weight: 400;
		line-height: 120%;
	}
	&__date {
		color: #5d666f;
		font-size: 13px;
		font-weight: 400;
	}
}
.news-container {
}
