.news-single {
	padding-bottom: 100px;
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 25px;
	}
	&__content {
		.title--bl {
			margin-bottom: 20px;
		}

		.news__date {
			margin-bottom: 30px;
		}
	}
	&__text {
	}
	&__media {
	}
	&__img {
		border-radius: 8px;
		overflow: hidden;
		margin-bottom: 30px;

		picture {
			height: 710px;
		}
	}

	&__share {
		font-size: 16px;
		font-weight: 500;
		color: $mainColor;
		margin-bottom: 20px;
	}

	&__other {
		padding-bottom: 120px;
	}
}
