.other-projects {
	margin-bottom: 100px;
	&__body {
		.projects__img {
			margin-bottom: 0;
			&::before {
				content: none;
			}
			picture {
				height: 230px;
			}
		}

		.projects__item {
			border-radius: 8px;
			padding: 0;
		}

		.projects__content {
			padding: 15px;
		}
	}
}
