<section class="about-trust">
    <div class="about-trust-container">
        <div class="about-trust__header is-fade-down">
            <div class="title">Нам доверяют</div>
            <div class="about-trust__text">
                Опираясь на многолетний опыт сотрудничества с российскими промышленными гигантами горнодобывающей, металлургической и химической отраслей, Техногрупп внедряет
                передовые технические решения и обеспечивает их поддержку на протяжении всего жизненного цикла проектов — от проектирования до реализации и сопровождения, помогая
                предприятиям повышать эффективность и снижать издержки. Каждое решение разрабатывается индивидуально под потребности и задачи заказчика.
            </div>
        </div>
        <div class="about-trust__body is-fade-down" data-delay="0.5">
            <div class="about-trust__slider swiper">
                <div class="about-trust__wrapper swiper-wrapper">
                    <div class="about-trust__slide swiper-slide">
                        <div class="about-trust__item">
                            <div class="about-trust__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/about/about-trust.jpg" class="image lazy__item" alt="" />
                                </picture>
                            </div>
                            <div class="about-trust__content">
                                <div class="about-trust__name">Фосагро</div>
                            </div>
                        </div>
                    </div>
                    <div class="about-trust__slide swiper-slide">
                        <div class="about-trust__item">
                            <div class="about-trust__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/about/about-trust.jpg" class="image lazy__item" alt="" />
                                </picture>
                            </div>
                            <div class="about-trust__content">
                                <div class="about-trust__name">Фосагро</div>
                            </div>
                        </div>
                    </div>
                    <div class="about-trust__slide swiper-slide">
                        <div class="about-trust__item">
                            <div class="about-trust__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/about/about-trust.jpg" class="image lazy__item" alt="" />
                                </picture>
                            </div>
                            <div class="about-trust__content">
                                <div class="about-trust__name">Фосагро</div>
                            </div>
                        </div>
                    </div>
                    <div class="about-trust__slide swiper-slide">
                        <div class="about-trust__item">
                            <div class="about-trust__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/about/about-trust.jpg" class="image lazy__item" alt="" />
                                </picture>
                            </div>
                            <div class="about-trust__content">
                                <div class="about-trust__name">Фосагро</div>
                            </div>
                        </div>
                    </div>
                    <div class="about-trust__slide swiper-slide">
                        <div class="about-trust__item">
                            <div class="about-trust__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/about/about-trust.jpg" class="image lazy__item" alt="" />
                                </picture>
                            </div>
                            <div class="about-trust__content">
                                <div class="about-trust__name">Фосагро</div>
                            </div>
                        </div>
                    </div>
                    <div class="about-trust__slide swiper-slide">
                        <div class="about-trust__item">
                            <div class="about-trust__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/about/about-trust.jpg" class="image lazy__item" alt="" />
                                </picture>
                            </div>
                            <div class="about-trust__content">
                                <div class="about-trust__name">Фосагро</div>
                            </div>
                        </div>
                    </div>
                    <div class="about-trust__slide swiper-slide">
                        <div class="about-trust__item">
                            <div class="about-trust__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/about/about-trust.jpg" class="image lazy__item" alt="" />
                                </picture>
                            </div>
                            <div class="about-trust__content">
                                <div class="about-trust__name">Фосагро</div>
                            </div>
                        </div>
                    </div>
                    <div class="about-trust__slide swiper-slide">
                        <div class="about-trust__item">
                            <div class="about-trust__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/about/about-trust.jpg" class="image lazy__item" alt="" />
                                </picture>
                            </div>
                            <div class="about-trust__content">
                                <div class="about-trust__name">Фосагро</div>
                            </div>
                        </div>
                    </div>
                    <div class="about-trust__slide swiper-slide">
                        <div class="about-trust__item">
                            <div class="about-trust__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/about/about-trust.jpg" class="image lazy__item" alt="" />
                                </picture>
                            </div>
                            <div class="about-trust__content">
                                <div class="about-trust__name">Фосагро</div>
                            </div>
                        </div>
                    </div>
                    <div class="about-trust__slide swiper-slide">
                        <div class="about-trust__item">
                            <div class="about-trust__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/about/about-trust.jpg" class="image lazy__item" alt="" />
                                </picture>
                            </div>
                            <div class="about-trust__content">
                                <div class="about-trust__name">Фосагро</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <button type="button" class="about-trust-prev swiper-button-prev">
                    <svg class="double">
                        <use xlink:href="@img/icons/sprite.svg#ar-left"></use>
                    </svg>
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#ar-left"></use>
                    </svg>
                </button>
                <button type="button" class="about-trust-next swiper-button-next">
                    <svg class="double">
                        <use xlink:href="@img/icons/sprite.svg#ar-right"></use>
                    </svg>
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#ar-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="about-trust__media">
        <picture class="lazy image--cover">
            <img data-src="@img/about/about-trust-media.svg" class="image lazy__item" alt="" />
        </picture>
    </div>
</section>
