<section class="about-achiev">
    <div class="about-achiev-container">
        <div class="about-achiev__body">
            <div class="title--bl">Работаем с энергией</div>
            <div class="about-achiev__content" data-watch>
                <div class="about-achiev__item">
                    <div class="about-achiev__count">
                        <span data-digits-counter>17</span>
                        <span class="count__text">лет</span>
                    </div>
                    <div class="about-achiev__text">разрабатываем передовые технологические решения для промышленных
                        предприятий непрерывного цикла производства</div>
                </div>
                <div class="about-achiev__item">
                    <div class="about-achiev__count">
                        <span data-digits-counter>100</span>
                        <span>+</span>
                    </div>
                    <div class="about-achiev__text">успешных референсов и инновационных проектов в металлургии
                        и обогащении минерального сырья</div>
                </div>
                <div class="about-achiev__item">
                    <div class="about-achiev__count">
                        <span data-digits-counter>5000</span>
                        <span>+</span>
                    </div>
                    <div class="about-achiev__text">поставок ЭД и ПЧ общей мощностью до 10 МВт в год</div>
                </div>
                <div class="about-achiev__item">
                    <div class="about-achiev__count">
                        <span data-digits-counter>120</span>
                        <span>+</span>
                    </div>
                    <div class="about-achiev__text">профессионалов в команде</div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-achiev__media">
        <img src="@img/about/achive-media.svg" alt="">
    </div>
</section>