<section class="about-clients">
    <div class="about-clients-container">
        <div class="about-clients__header">
            <div class="title--bl">Ключевые клиенты</div>
            <div class="about-clients__text">Крупнейшие российские компании с предприятиями непрерывного цикла
                производства</div>
        </div>
        <div class="about-clients__body">
            <div class="about-clients__slider swiper">
                <div class="about-clients__wrapper swiper-wrapper">
                    <div class="about-clients__slide swiper-slide">
                        <div class="about-clients__item">
                            <picture class="lazy image--cover">
                                <img data-src="@img/about/about-clients-1.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="about-clients__slide swiper-slide">
                        <div class="about-clients__item">
                            <picture class="lazy image--cover">
                                <img data-src="@img/about/about-clients-2.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="about-clients__slide swiper-slide">
                        <div class="about-clients__item">
                            <picture class="lazy image--cover">
                                <img data-src="@img/about/about-clients-3.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="about-clients__slide swiper-slide">
                        <div class="about-clients__item">
                            <picture class="lazy image--cover">
                                <img data-src="@img/about/about-clients-4.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="about-clients__slide swiper-slide">
                        <div class="about-clients__item">
                            <picture class="lazy image--cover">
                                <img data-src="@img/about/about-clients-5.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="about-clients__slide swiper-slide">
                        <div class="about-clients__item">
                            <picture class="lazy image--cover">
                                <img data-src="@img/about/about-clients-6.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="about-clients__slide swiper-slide">
                        <div class="about-clients__item">
                            <picture class="lazy image--cover">
                                <img data-src="@img/about/about-clients-1.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="about-clients__slide swiper-slide">
                        <div class="about-clients__item">
                            <picture class="lazy image--cover">
                                <img data-src="@img/about/about-clients-2.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="about-clients__slide swiper-slide">
                        <div class="about-clients__item">
                            <picture class="lazy image--cover">
                                <img data-src="@img/about/about-clients-3.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="about-clients__slide swiper-slide">
                        <div class="about-clients__item">
                            <picture class="lazy image--cover">
                                <img data-src="@img/about/about-clients-4.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="about-clients__slide swiper-slide">
                        <div class="about-clients__item">
                            <picture class="lazy image--cover">
                                <img data-src="@img/about/about-clients-5.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="about-clients__slide swiper-slide">
                        <div class="about-clients__item">
                            <picture class="lazy image--cover">
                                <img data-src="@img/about/about-clients-6.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>