<section class="about-decision">
    <div class="about-decision-container">
        <div class="about-decision__header is-fade-down">
            <div class="title">Решения и оборудование TG Drive</div>
        </div>
        <div class="about-decision__body is-fade-down" data-delay="0.5">
            <article class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-1.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Автоматизация</div>
                </div>
            </article>
            <article class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-2.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Электродвигатели</div>
                </div>
            </article>
            <article class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-3.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Преобразователи частоты</div>
                </div>
            </article>
            <article class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-4.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Тягодутьевые машины</div>
                </div>
            </article>
            <article class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-5.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Компрессоры</div>
                </div>
            </article>
            <article class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-2.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Трансформаторы</div>
                </div>
            </article>
        </div>
    </div>

    <div class="about-decision__media">
        <picture class="lazy image--cover">
            <img data-src="@img/about/about-decision-bg.jpg" class="image lazy__item" alt="">
        </picture>
    </div>
</section>