<section class="advantages-key">
    <div class="advantages-key-container">
        <div class="advantages-key__header">
            <div class="title--bl">Ключевые преимущества Техногрупп</div>
            <p>Техногрупп сопровождает заказчиков на всех этапах проектов,
                обеспечивает высокий уровень сервиса и оперативноерешение их задач</p>
        </div>
        <div class="advantages-key__body">
            <div class="advantages-key__item">
                <div class="advantages-key__icon">
                    <picture class="lazy image--contain">
                        <img data-src="@img/advantages/key-1.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="advantages-key__text">Совместная проработка технического решения и подготовка документации
                </div>
            </div>
            <div class="advantages-key__item">
                <div class="advantages-key__icon">
                    <picture class="lazy image--contain">
                        <img data-src="@img/advantages/key-2.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="advantages-key__text">Проектирование с обвязкой и автоматизация процесса до верхнего уровня
                </div>
            </div>
            <div class="advantages-key__item">
                <div class="advantages-key__icon">
                    <picture class="lazy image--contain">
                        <img data-src="@img/advantages/key-3.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="advantages-key__text">Планирование и контроль всех этапов проекта, вкл. закупку, логистику и
                    ШМР/ПНР
                </div>
            </div>
            <div class="advantages-key__item">
                <div class="advantages-key__icon">
                    <picture class="lazy image--contain">
                        <img data-src="@img/advantages/key-4.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="advantages-key__text">Управление рисками и
                    со-финансирование реализации проекта
                </div>
            </div>
            <div class="advantages-key__item">
                <div class="advantages-key__icon">
                    <picture class="lazy image--contain">
                        <img data-src="@img/advantages/key-5.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="advantages-key__text">Сайт-менеджмент – координация подрядчиков на площадке 
                </div>
            </div>
            <div class="advantages-key__item">
                <div class="advantages-key__icon">
                    <picture class="lazy image--contain">
                        <img data-src="@img/advantages/key-6.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="advantages-key__text">Обучение в собственном учебном центре, гарантийная и сервисная
                    поддержка
                </div>
            </div>
        </div>
    </div>
</section>