<section class="center-hero">
    <div class="center-hero-container">
        <div class="center-hero__body">
            <div class="center-hero__content">
                <h1 class="title">Преимущества</h1>
                <p>Техногрупп более 17 лет разрабатывает и реализует комплексные решения под ключ для повышения
                    надежности и эффективности
                    электропривода в металлургии, горно-добывающей и химической промышленности. Мы понимаем потребности
                    заказчиков и
                    гарантируем качественный клиентский сервис на протяжении всего жизненного цикла проектов.</p>
                <button type="button" class="btn-call">Записаться на обучение</button>
            </div>
            <div class="center-hero__img">
                <picture class="lazy image--cover">
                    <img data-src="@img/advantages/hero.jpg" class="image lazy__item" alt="">
                </picture>
            </div>
        </div>
    </div>
</section>