<section class="center-advantages">
    <div class="center-advantages-container">
        <div class="center-advantages__body">
            <div class="center-advantages__item">
                <div class="center-advantages__icon">
                    <picture class="lazy image--contain">
                        <img data-src="@img/center/advantages-1.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="center-advantages__text">Обучение и технические консультации по электроприводу и средствам
                    автоматизации</div>
            </div>
            <div class="center-advantages__item">
                <div class="center-advantages__icon">
                    <picture class="lazy image--contain">
                        <img data-src="@img/center/advantages-2.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="center-advantages__text">Стенды с преобразователями частоты TG910, TG880, Inovance
                    MD880 и Hopewind HD2000</div>
            </div>
            <div class="center-advantages__item">
                <div class="center-advantages__icon">
                    <picture class="lazy image--contain">
                        <img data-src="@img/center/advantages-3.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="center-advantages__text">Лабораторные работы с запуском под нагрузкой</div>
            </div>
        </div>
    </div>
</section>