<section class="center-hero">
    <div class="center-hero-container">
        <div class="center-hero__body">
            <div class="center-hero__content">
                <h1 class="title">Учебный центр</h1>
                <p>Предоставляет возможность на практике познакомиться с оборудованием компании. Здесь установлены
                    стенды, на которых
                    имитируется работа электродвигателей и моделируются нештатные ситуации.</p>
                <button type="button" class="btn-call">Записаться на обучение</button>
            </div>
            <div class="center-hero__img">
                <picture class="lazy image--cover">
                    <img data-src="@img/center/hero.jpg" class="image lazy__item" alt="">
                </picture>
            </div>
        </div>
    </div>
</section>