<section class="center-stand">
    <div class="center-stand-container">
        <div class="title--bl">Преимущества испытательного стенда</div>
        <div class="center-stand__body">
            <div class="center-stand__item">
                <div class="center-stand__icon">
                    <picture class="lazy image--contain">
                        <img data-src="@img/center/stand-1.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="center-stand__text">Реалистично моделирует рабочие условия для проверки работы
                    ПЧ и двигателей</div>
            </div>
            <div class="center-stand__item">
                <div class="center-stand__icon">
                    <picture class="lazy image--contain">
                        <img data-src="@img/center/stand-2.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="center-stand__text">Гибкий в настройке режимов работы, изменение скорости, момента и
                    нагрузочных характеристик</div>
            </div>
            <div class="center-stand__item">
                <div class="center-stand__icon">
                    <picture class="lazy image--contain">
                        <img data-src="@img/center/stand-3.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="center-stand__text">Реалистично моделирует рабочие условия для проверки работы ПЧ и
                    двигателей</div>
            </div>
            <div class="center-stand__item">
                <div class="center-stand__icon">
                    <picture class="lazy image--contain">
                        <img data-src="@img/center/stand-4.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="center-stand__text">Имитирует управление с различных контроллеров. Для этих целей
                    у нас установлены контроллеры фирмы Siemens и других
                    мировых производителей, чтопредоставляет возможность отрабатывать навыки настройки и управления
                    системой при помощи
                    различных промышленных протоколов. Можно изучить взаимодействие преобразователей частоты
                    с контроллерами</div>
            </div>
        </div>
    </div>
</section>