<section class="center-target">
    <div class="center-target__media">
        <img src="@img/center/target-bg.svg" alt="">
    </div>
    <div class="center-target-container">
        <div class="center-target__body">
            <div class="center-target__header">
                <div class="title--bl">Цель курса</div>
                <p>Обучение выбору, установке, настройке и управлению преобразователями частоты TG910, TG880 (на базе
                    INOVANCE
                    MD880 и HopeWind HD2000), изучение их особенностей и освоение программного обеспечения для
                    управления
                    и диагностики.
                    Курс сочетает теорию с практическими занятиями, что позволяет участникам получить полный спектр
                    знаний
                    о работе с ПЧ.</p>
            </div>
            <div class="title--bl">Программы</div>
            <div data-spollers data-one-spoller class="spollers">
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <span>Устройство, базовое параметрирование и ввод в
                            эксплуатацию преобразователя частоты TG910</span>
                        <span class="spollers__icon"></span>
                    </button>
                    <div class="spollers__body" data-editor>
                        <ol>
                            <li>Вводная часть. Общепромышленные преобразователи частоты. Виды и характеристики нагрузок.
                            </li>
                            <li>Подбор ПЧ TG910 в зависимости от типа нагрузки и особенностей конкретного применения.
                            </li>
                            <li>Виды исполнения по степени защиты. Дополнительные опции в исполнении IP54 производства
                                АО «Техногрупп», назначение
                                и применение.</li>
                            <li>Устройство TG910. Отличительные особенности схемных решений, сравнение с аналогичными
                                ПЧ.
                            </li>
                            <li>Механический и электрический монтаж ПЧ.</li>
                            <li>Требования к месту установки, охлаждению, прокладка силовых и контрольных кабелей.
                                (Руководство по эксплуатации TG910).</li>
                            <li>Проверка основных узлов ПЧ перед первым включением в сеть (статические тесты).</li>
                            <li>Лабораторная работа «Статические тесты, ввод параметров двигателя, проведение
                                автоадаптации,
                                пробный пуск TG910» Способы
                                и места управления ПЧ.</li>
                            <li>Особенности управления по дискретным и аналоговым входам TG910.</li>
                            <li>Лабораторная работа «Параметрирование дискретных и аналоговых входов TG910, управление
                                с кнопочных постов».</li>
                            <li>Особенности устройства выходов TG910.</li>
                            <li>Лабораторная работа «Параметрирование дискретных и аналоговых выходов TG910».</li>
                            <li>Профили скорости. Виды рамп разгона и торможения TG910. Виды останова. Пропуск
                                резонансных
                                частот. Использование
                                в зависимости от применений.</li>
                            <li>Лабораторная работа «Параметрирование профилей скорости TG910».</li>
                            <li>Защитные функции. Коды неисправностей. Устранение основных неисправностей ПЧ.</li>
                        </ol>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <span>Устройство, базовое параметрирование и ввод в эксплуатацию преобразователя частоты
                            INOVANCE
                            MD880</span>
                        <span class="spollers__icon"></span>
                    </button>
                    <div class="spollers__body" data-editor>Контент спойлера</div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <span>Устройство, базовое параметрирование и ввод в эксплуатацию преобразователя частоты
                            HopeWind
                            HD2000</span>
                        <span class="spollers__icon"></span>
                    </button>
                    <div class="spollers__body" data-editor>Контент спойлера</div>
                </div>
            </div>
            <div class="center-target__list">
                <div class="center-target__item">
                    <div class="center-target__icon">
                        <picture class="lazy image--cover">
                            <img data-src="@img/center/icon-1.svg" class="image lazy__item" alt="">
                        </picture>
                    </div>
                    <div class="center-target__text">В рамках программы можно посетить производственную площадку
                        Техногрупп</div>
                </div>
                <div class="center-target__item">
                    <div class="center-target__icon">
                        <picture class="lazy image--cover">
                            <img data-src="@img/center/icon-2.svg" class="image lazy__item" alt="">
                        </picture>
                    </div>
                    <div class="center-target__text">Обучающиеся получают глубокие знания по работе с оборудованием,
                        включая выбор, установку, настройку и ремонт, освоят
                        передовые инструменты программного обеспечения</div>
                </div>
                <div class="center-target__item">
                    <div class="center-target__icon">
                        <picture class="lazy image--cover">
                            <img data-src="@img/center/icon-3.svg" class="image lazy__item" alt="">
                        </picture>
                    </div>
                    <div class="center-target__text">Специалисты получат сертификаты по завершению курса</div>
                </div>
            </div>
        </div>
    </div>
</section>