<section class="center-baner">
    <div class="center-baner-container">
        <div class="center-baner__body">
            <div class="title">Будьте в курсе актуальных технологических
                решений в области электропривода</div>
            <p>Благодаря экспертам Техногрупп, которые продемонстрируют возможности оборудования, поделятся своими
                знаниями и опытом,
                помогут разобраться в современных технологиях повышения надёжности и энергоэффективности в эксплуатации
                электропривода.</p>
            <button type="button" class="btn-call">Записаться на обучение</button>
        </div>
    </div>
</section>