<section class="center-benches">
    <div class="center-benches-container">
        <div class="center-benches__body">
            <div class="center-benches__content" data-editor>
                <div class="title--bl">3 испытательных стенда</div>
                <p>Каждый стенд состоит из двух электродвигателей, соединенных валами и один может нагружать другой в
                    зависимости от режима
                    работы.</p>
                <p>Стенды позволяют:</p>
                <ul>
                    <li>Производить различные виды тестирования</li>
                    <li>Анализировать характеристики преобразователей частоты (ПЧ) в реальных условиях</li>
                    <li>Воспроизводить рабочие условия</li>
                    <li>Тестировать работу ПЧ при различных нагрузках и режимах</li>
                </ul>
            </div>
            <div class="center-benches__img">
                <picture class="lazy image--cover">
                    <img data-src="@img/center/benches.jpg" class="image lazy__item" alt="">
                </picture>
            </div>
        </div>
    </div>
</section>