<section class="contacts">
    <div class="contacts-container">
        <div class="contacts__header">
            <h1 class="title">Контакты</h1>
        </div>
        <div class="contacts__body">
            <div class="contacts__content">
                <ul class="contacts__list">
                    <li>
                        <span>Адрес:</span>
                        <a href="#">196246, Санкт-Петербург,
                            Пулковское шоссе, д. 40, к. 4</a>
                    </li>
                    <li>
                        <span>Телефон:</span>
                        <a href="tel:+78129989893">+7 (812) 998-98-93</a>
                    </li>
                    <li>
                        <span>Заказать оборудование:</span>
                        <a href="mailto:info@technogroupp.com">info@technogroupp.com</a>
                    </li>
                    <li>
                        <span>Техническая поддержка:</span>
                        <a href="mailto:service@technogroupp.com">service@technogroupp.com</a>
                    </li>
                </ul>
            </div>
            <div class="contacts__map">
                <iframe
                    data-src="https://yandex.ru/map-widget/v1/?um=constructor%3Afec71ff55b73f64713d0dab649b7ca16b3e784f126a4d784f576dcf0e492d2d9&amp;source=constructor"
                    width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>