<section class="decisions-taxonomy">
    <div class="decisions-taxonomy-container">
        <h1 class="title">Преобразователи частоты</h1>
        <ul class="category__list">
            <li>
                <a href="#">
                    <picture class="lazy image--contain">
                        <img data-src="@img/product/logo-1.svg" class="image lazy__item" alt="">
                    </picture>
                </a>
            </li>
            <li>
                <a href="#">
                    <picture class="lazy image--contain">
                        <img data-src="@img/product/logo-2.svg" class="image lazy__item" alt="">
                    </picture>
                </a>
            </li>
            <li>
                <a href="#">
                    <picture class="lazy image--contain">
                        <img data-src="@img/product/logo-1.svg" class="image lazy__item" alt="">
                    </picture>
                </a>
            </li>
            <li>
                <a href="#">
                    <picture class="lazy image--contain">
                        <img data-src="@img/product/logo-2.svg" class="image lazy__item" alt="">
                    </picture>
                </a>
            </li>
            <li>
                <a href="#">
                    <picture class="lazy image--contain">
                        <img data-src="@img/product/logo-1.svg" class="image lazy__item" alt="">
                    </picture>
                </a>
            </li>
            <li>
                <a href="#">
                    <picture class="lazy image--contain">
                        <img data-src="@img/product/logo-2.svg" class="image lazy__item" alt="">
                    </picture>
                </a>
            </li>
        </ul>
        <div class="decisions-taxonomy__body">
            <article class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-6.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Преобразователи частоты TG Drive TG910</div>
                </div>
            </article>
            <article class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-2.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Электродвигатели</div>
                </div>
            </article>
            <article class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-3.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Преобразователи частоты</div>
                </div>
            </article>
            <article class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-4.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Тягодутьевые машины</div>
                </div>
            </article>
            <article class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-5.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Компрессоры</div>
                </div>
            </article>
            <article class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-2.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Трансформаторы</div>
                </div>
            </article>
        </div>
    </div>
</section>