<section class="description section">
    <div class="description-container">
        <div class="description__body" data-editor>
            <p>Техногрупп разрабатывает и внедряет комплексные электроприводные решения на базе оборудования собственной
                линейки TG
                Drive, дополняя его проверенными продуктами компаний-партнеров. Мы понимаем потребности заказчиков,
                подбираем
                оптимальное техническое решение и гарантируем качественный клиентский сервис на протяжении всего
                жизненного цикла
                проектов.</p>
        </div>
    </div>
</section>

<section class="decisions">
    <div class="decisions-container">
        <div class="decisions__header">
            <h1 class="title">Решения и оборудование</h1>
            <div class="decisions__media">
                <picture class="lazy image--cover">
                    <img data-src="@img/drive-logo.svg" class="image lazy__item" alt="">
                </picture>
            </div>
        </div>

        <div class="decisions-taxonomy__body">
            <a href="" class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-1.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Автоматизация</div>
                </div>
            </a>
            <a href="" class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-2.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Электродвигатели</div>
                </div>
            </a>
            <a href="" class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-3.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Преобразователи частоты</div>
                </div>
            </a>
            <a href="" class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-4.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Тягодутьевые машины</div>
                </div>
            </a>
            <a href="" class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-5.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Компрессоры</div>
                </div>
            </a>
            <a href="" class="about-decision__item">
                <div class="about-decision__img">
                    <picture class="lazy image--contain">
                        <img data-src="@img/about/about-decision-2.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="about-decision__content">
                    <div class="about-decision__name">Трансформаторы</div>
                </div>
            </a>
        </div>
    </div>
</section>