<section class="hero">
    <div class="hero-container">
        <div class="hero__content">
            <h1>Комплексные решения для электропривода и многоуровневых АСУ ТП</h1>
        </div>
    </div>
    <div class="hero__media">
        <div class="video-wrapper">
            <video class="lazy image--cover" autoplay loop muted playsinline preload="none" poster="@img/hero-bg.webp"
                data-src="@img/video.webm">
                <source type="video/mp4">
            </video>
        </div>
    </div>
</section>