<section class="map">
    <div class="map-container">
        <div class="map__wrapper">
            <div class="map__header">
                <div class="title--bl">Более 20 филиалов</div>
                <p>Постоянное присутствие на промышленных площадках и глубокое понимание потребностей заказчиков</p>
            </div>
            <div class="map__body">
                <picture class="lazy image--containt">
                    <img data-src="@img/global/map.svg" class="image lazy__item" alt="">
                </picture>
                <div class="mapTitles">
                    <div class="cities">
                        <div class="cityItem dotBefore" data-city-id="28">
                            <span>Иркутск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="1">
                            <span>Хабаровск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="2">
                            <span>Норильск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="3">
                            <span>Красноярск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotAfter" data-city-id="5">
                            <span>Новосибирск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotAfter" data-city-id="6">
                            <span>Новокузнецк</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="11">
                            <span>Мурманск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="12">
                            <span>Оленегорск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="13">
                            <span>Кировск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="27">
                            <span>Пермь</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="14">
                            <span>Березники</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="15">
                            <span>Екатеринбург</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="16">
                            <span>Челябинск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="17">
                            <span>Магнитогорск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotAfter" data-city-id="19">
                            <span>Ковдор</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotAfter" data-city-id="20">
                            <span>Костомукша</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="21">
                            <span>Череповец</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="22">
                            <span>Выкса</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="23">
                            <span>Липецк</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="24">
                            <span>Железногорск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotAfter" data-city-id="25">
                            <span>Старый Оскол</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="26">
                            <span>Санкт-Петербург</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="29">
                            <span>Удачный</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="30">
                            <span>Мирный</span>
                            <div class="dot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>