<section class="metal">
    <div class="metal__slider swiper">
        <div class="metal__wrapper swiper-wrapper">
            <div class="metal__slide swiper-slide">
                <div class="metal__slide-box">
                    <div class="metal__slide-container">
                        <div class="metal__slide-body">
                            <div class="metal__slide__content">
                                <div class="title--up">Повышаем эффективность и надежность электропривода заказчиков
                                </div>
                                <div class="metal__slide-subtitle">МЕТАЛЛУРГИЧЕСКАЯ ОТРАСЛЬ</div>
                                <a href="#" class="link__metal">Смотреть проекты</a>
                            </div>
                            <div class="slide__grid">
                                <div class="slide__item">
                                    <span class="link__project">Аглодоменное производство</span>
                                </div>
                                <div class="slide__item">
                                    <span class="link__project">Коксохимическое производство</span>
                                </div>
                                <div class="slide__item">
                                    <span class="link__project">Сталеплавильное производство</span>
                                </div>
                                <div class="slide__item">
                                    <span class="link__project">Прокатное производство</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="metal__slide-media">
                        <picture class="lazy image--cover">
                            <img data-src="@img/metal-bg.webp" class="image lazy__item lazy__item--blur" alt="">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="metal__slide swiper-slide">
                <div class="metal__slide-box">
                    <div class="metal__slide-container">
                        <div class="metal__slide-body">
                            <div class="metal__slide__content">
                                <div class="title--up">Повышаем эффективность и надежность электропривода заказчиков
                                </div>
                                <div class="metal__slide-subtitle">Горно-обогатительная отрасль</div>
                                <a href="#" class="link__metal">Смотреть проекты</a>
                            </div>
                            <div class="slide__grid">
                                <div class="slide__item">
                                    <span class="link__project">Участки дробления</span>
                                </div>
                                <div class="slide__item">
                                    <span class="link__project">Участки сортировки и грохочения</span>
                                </div>
                                <div class="slide__item">
                                    <span class="link__project">Участки измельчения</span>
                                </div>
                                <div class="slide__item">
                                    <span class="link__project">Прокатное производство</span>
                                </div>
                                <div class="slide__item">
                                    <span class="link__project">Аглодоменное производство</span>
                                </div>
                                <div class="slide__item">
                                    <span class="link__project">Участки фабрик окомкования</span>
                                </div>
                                <div class="slide__item">
                                    <span class="link__project">Участки обжиговых машин</span>
                                </div>
                                <div class="slide__item">
                                    <span class="link__project">Участки хвостового хозяйства</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="metal__slide-media">
                        <picture class="lazy image--cover">
                            <img data-src="@img/mountain-bg.jpg" class="image lazy__item lazy__item--blur" alt="">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="metal__slide swiper-slide metal__slide-three">
                <div class="metal__slide-box">
                    <div class="metal__slide-container">
                        <div class="metal__slide-body">
                            <div class="metal__slide__content">
                                <div class="title--up">Повышаем эффективность и надежность электропривода заказчиков
                                </div>
                                <div class="metal__slide-subtitle">производство минеральных удобрений</div>
                                <a href="#" class="link__metal">Смотреть проекты</a>
                            </div>
                            <div class="slide__grid">
                                <div class="slide__item">
                                    <span class="link__project">Участки дробления</span>
                                </div>
                                <div class="slide__item">
                                    <span class="link__project">Участки сортировки и грохочения</span>
                                </div>
                                <div class="slide__item">
                                    <span class="link__project">Участки измельчения</span>
                                </div>
                                <div class="slide__item">
                                    <span class="link__project">Участки дегидратации и фильтрации</span>
                                </div>
                                <div class="slide__item">
                                    <span class="link__project">Участки фабрик окомкования</span>
                                </div>
                                <div class="slide__item">
                                    <span class="link__project">Участки обжиговых машин</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="metal__slide-media">
                        <picture class="lazy image--cover">
                            <img data-src="@img/fertilizers-bg.jpg" class="image lazy__item lazy__item--blur" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="navigation">
            <div class="navigation-container">
                <button type="button" class="metal-prev swiper-button-prev">
                    <svg class="double">
                        <use xlink:href="@img/icons/sprite.svg#ar-left"></use>
                    </svg>
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#ar-left"></use>
                    </svg>
                </button>
                <button type="button" class="metal-next swiper-button-next">
                    <svg class="double">
                        <use xlink:href="@img/icons/sprite.svg#ar-right"></use>
                    </svg>
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#ar-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>