<section class="metal">
    <div class="metal-container">
        <div class="metal__body">
            <div class="title--up">Повышаем эффективность и надежность электропривода заказчиков</div>
            <div class="metal__slider swiper">
                <div class="metal__wrapper swiper-wrapper">
                    <div class="metal__slide swiper-slide">
                        <div class="metal__slide-body">
                            <div class="metal__slide-subtitle">МЕТАЛЛУРГИЧЕСКАЯ ОТРАСЛЬ</div>
                            <a href="#" class="link__metal">Смотреть проекты</a>
                            <div class="slide__grid">
                                <div class="slide__item">
                                    <a href="" class="link__project">Аглодоменное производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Коксохимическое производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Сталеплавильное производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Прокатное производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Аглодоменное производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Коксохимическое производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Сталеплавильное производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Прокатное производство</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="metal__slide swiper-slide">
                        <div class="metal__slide-body">
                            <div class="metal__slide-subtitle">МЕТАЛЛУРГИЧЕСКАЯ ОТРАСЛЬ</div>
                            <a href="#" class="link__metal">Смотреть проекты</a>
                            <div class="slide__grid">
                                <div class="slide__item">
                                    <a href="" class="link__project">Аглодоменное производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Коксохимическое производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Сталеплавильное производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Прокатное производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Аглодоменное производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Коксохимическое производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Сталеплавильное производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Прокатное производство</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="metal__slide swiper-slide">
                        <div class="metal__slide-body">
                            <div class="metal__slide-subtitle">МЕТАЛЛУРГИЧЕСКАЯ ОТРАСЛЬ</div>
                            <a href="#" class="link__metal">Смотреть проекты</a>
                            <div class="slide__grid">
                                <div class="slide__item">
                                    <a href="" class="link__project">Аглодоменное производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Коксохимическое производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Сталеплавильное производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Прокатное производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Аглодоменное производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Коксохимическое производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Сталеплавильное производство</a>
                                </div>
                                <div class="slide__item">
                                    <a href="" class="link__project">Прокатное производство</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <button type="button" class="metal-prev swiper-button-prev">
            <svg>
                <use xlink:href="@img/icons/sprite.svg#ar-left"></use>
            </svg>
        </button>
        <button type="button" class="metal-next swiper-button-next">
            <svg>
                <use xlink:href="@img/icons/sprite.svg#ar-right"></use>
            </svg>
        </button>
    </div>
    <div class="metal__media">
        <picture class="lazy image--cover">
            <img data-src="@img/mountain-bg.jpg" class="image lazy__item lazy__item--blur" alt="">
        </picture>
    </div>
</section>