<section class="news-main">
    <div class="news-main__media">
        <picture class="lazy image--cover">
            <img data-src="@img/news/news-media.svg" class="image lazy__item" alt="">
        </picture>
    </div>
    <div class="news-main-container">
        <div class="news-main__header">
            <div class="title">Новости</div>
            <a href="#" class="link__more">
                <span>Все новости</span>
                <svg>
                    <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                </svg>
            </a>
        </div>
        <div class="news-main__body">
            <article class="news__item">
                <div class="news__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/news/new-1.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="news__content">
                    <h2 class="news__name">Заголовок новости может быть в две или три строки</h2>
                    <div class="news__date">
                        <time datetime="3 февраля 2025">
                            3 февраля 2025
                        </time>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="news__item">
                <div class="news__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/news/new-2.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="news__content">
                    <h2 class="news__name">Заголовок новости может быть в две или три строки</h2>
                    <div class="news__date">
                        <time datetime="3 февраля 2025">
                            3 февраля 2025
                        </time>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="news__item">
                <div class="news__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/news/new-3.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="news__content">
                    <h2 class="news__name">Заголовок новости может быть в две или три строки</h2>
                    <div class="news__date">
                        <time datetime="3 февраля 2025">
                            3 февраля 2025
                        </time>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="news__item">
                <div class="news__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/news/new-4.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="news__content">
                    <h2 class="news__name">Заголовок новости может быть в две или три строки Заголовок новости может
                        быть в две или три строки</h2>
                    <div class="news__date">
                        <time datetime="3 февраля 2025">
                            3 февраля 2025
                        </time>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
        </div>
    </div>
</section>