<section class="news-single">
    <div class="news-single-container">
        <div class="news-single__body">
            <div class="news-single__content">
                <h1 class="title--bl">На старте новых проектов</h1>
                <div class="news__date">
                    <time datetime="3 февраля 2025">
                        3 февраля 2025
                    </time>
                </div>
                <div class="news-single__text" data-editor>
                    <p>Техногрупп провела презентацию для специалистов металлургического завода. На встрече
                        присутствовали представители
                        ремонтных и эксплуатационных служб литейно-прокатного, трубопрошивочного, колесопрокатного
                        и трубоэлектросварочных
                        цехов.</p>
                    <p>Эксперты Техногрупп рассказали об основных трендах на рынках электродвигателей и преобразователей
                        частоты, осветили
                        нюансы работы с азиатскими вендорами, раскрыли основные принципы работы компании с комплексными
                        проектами и преимущества
                        перед конкурентами, поделились опытом реализации проектов с применением ПЧ TG Drive серий TG910,
                        TG880 и АСУ ТП
                        в металлургическом производстве.
                        На протяжении всей встречи заказчики активно задавали вопросы и демонстрировали высокую
                        заинтересованность в продуктах
                        Техногрупп. Среди основных задач сотрудники металлургического завода обозначили
                        импортозамещение, модернизацию
                        устаревшего оборудования, внедрение преобразователей частоты в крановые хозяйства и проведение
                        обучения. Наибольший
                        интерес у слушателей вызвали комплексные решения с преобразователями частоты и вопрос перехода
                        со щёточного
                        на бесщеточный метод возбуждения электродвигателей.</p>
                    <h3>Подзаголовок</h3>
                    <p>Эксперты Техногрупп рассказали об основных трендах на рынках электродвигателей и преобразователей
                        частоты, осветили
                        нюансы работы с азиатскими вендорами, раскрыли основные принципы работы компании с комплексными
                        проектами и преимущества
                        перед конкурентами, поделились опытом реализации проектов с применением ПЧ TG Drive серий TG910,
                        TG880 и АСУ ТП
                        в металлургическом производстве.
                        На протяжении всей встречи заказчики активно задавали вопросы и демонстрировали высокую
                        заинтересованность в продуктах
                        Техногрупп. Среди основных задач сотрудники металлургического завода обозначили
                        импортозамещение, модернизацию
                        устаревшего оборудования, внедрение преобразователей частоты в крановые хозяйства и проведение
                        обучения. Наибольший
                        интерес у слушателей вызвали комплексные решения с преобразователями частоты и вопрос перехода
                        со щёточного
                        на бесщеточный метод возбуждения электродвигателей.</p>
                </div>
            </div>
            <div class="news-single__media">
                <div class="news-single__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/news/new-5.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <script src="https://yastatic.net/share2/share.js"></script>
                <div class="news-single__share">Поделиться</div>
                <div class="ya-share2" data-curtain data-size="l" data-shape="round"
                    data-services="vkontakte,odnoklassniki,telegram">
                </div>
            </div>
        </div>
    </div>
</section>