<section class="other-projects">
    <div class="other-projects-container">
        <div class="projects-main__header">
            <div class="title--bl">Другие проекты</div>
            <a href="#" class="link__more">
                <span>Смотреть все</span>
                <svg>
                    <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                </svg>
            </a>
        </div>
        <div class="other-projects__body">
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Металлургическая отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Металлургическая отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Металлургическая отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Металлургическая отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
        </div>
    </div>
</section>