<section class="projects-main">
    <div class="projects-main__media">
        <img src="@img/projects/media.svg" alt="">
    </div>
    <div class="projects-main-container">
        <div class="projects-main__header is-fade-down">
            <div class="title--bl">Проекты</div>
            <a href="#" class="link__more">
                <span>Смотреть все</span>
                <div class="icon">
                    <svg class="double">
                        <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                    </svg>
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                    </svg>
                </div>
            </a>
        </div>
        <div class="projects-main__body is-fade-down" data-delay="0.5">
            <div class="projects-main__slider swiper">
                <div class="projects-main__wrapper swiper-wrapper">
                    <div class="projects-main__slide swiper-slide">
                        <article class="projects__item">
                            <div class="projects__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                                </picture>
                                <a href="#" class="projects__category">Металлургическая отрасль</a>
                            </div>
                            <div class="projects__content">
                                <div class="projects__wrapper">
                                    <h3 class="projects__name">Модернизация главного привода прокатного стана</h3>
                                    <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей
                                        стана.</p>
                                </div>
                                <div class="link__more">
                                    <span>Подробнее</span>
                                    <div class="icon">
                                        <svg class="double">
                                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                                        </svg>
                                        <svg>
                                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="link-stretched"></a>
                        </article>
                    </div>
                    <div class="projects-main__slide swiper-slide">
                        <article class="projects__item">
                            <div class="projects__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/projects/project-2.jpg" class="image lazy__item" alt="">
                                </picture>
                                <a href="#" class="projects__category">Металлургическая отрасль</a>
                            </div>
                            <div class="projects__content">
                                <div class="projects__wrapper">
                                    <h3 class="projects__name">Внедрение комплектного электропривода и асу для шагающего
                                        холодильника сортовой машины непрерывного литья заготовок</h3>
                                    <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей
                                        стана.</p>
                                </div>

                                <div class="link__more">
                                    <span>Подробнее</span>
                                    <div class="icon">
                                        <svg class="double">
                                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                                        </svg>
                                        <svg>
                                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="link-stretched"></a>
                        </article>
                    </div>
                    <div class="projects-main__slide swiper-slide">
                        <article class="projects__item">
                            <div class="projects__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/projects/project-3.jpg" class="image lazy__item" alt="">
                                </picture>
                                <a href="#" class="projects__category">Металлургическая отрасль</a>
                            </div>
                            <div class="projects__content">
                                <div class="projects__wrapper">
                                    <h3 class="projects__name">Модернизация главного привода прокатного стана</h3>
                                    <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей
                                        стана.</p>
                                </div>
                                <div class="link__more">
                                    <span>Подробнее</span>
                                    <div class="icon">
                                        <svg class="double">
                                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                                        </svg>
                                        <svg>
                                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="link-stretched"></a>
                        </article>
                    </div>
                    <div class="projects-main__slide swiper-slide">
                        <article class="projects__item">
                            <div class="projects__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/projects/project-3.jpg" class="image lazy__item" alt="">
                                </picture>
                                <a href="#" class="projects__category">Металлургическая отрасль</a>
                            </div>
                            <div class="projects__content">
                                <div class="projects__wrapper">
                                    <h3 class="projects__name">Модернизация главного привода прокатного стана</h3>
                                    <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей
                                        стана.</p>
                                </div>
                                <div class="link__more">
                                    <span>Подробнее</span>
                                    <div class="icon">
                                        <svg class="double">
                                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                                        </svg>
                                        <svg>
                                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="link-stretched"></a>
                        </article>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="map-container">
        <div class="map__wrapper">
            <div class="map__header is-fade-down">
                <div class="title--bl">Более 20 филиалов</div>
                <p>Постоянное присутствие на промышленных площадках и глубокое понимание потребностей заказчиков</p>
            </div>
            <div class="map__body is-fade-down" data-delay="0.5">
                <picture class=" image--containt">
                    <img src="@img/global/map.svg" class="image " alt="">
                </picture>
                <div class="mapTitles">
                    <div class="cities">
                        <div class="cityItem dotBefore" data-city-id="28">
                            <span>Иркутск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="1">
                            <span>Хабаровск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="2">
                            <span>Норильск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="3">
                            <span>Красноярск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotAfter" data-city-id="5">
                            <span>Новосибирск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotAfter" data-city-id="6">
                            <span>Новокузнецк</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="11">
                            <span>Мурманск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="12">
                            <span>Оленегорск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="13">
                            <span>Кировск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="27">
                            <span>Пермь</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="14">
                            <span>Березники</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="15">
                            <span>Екатеринбург</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="16">
                            <span>Челябинск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="17">
                            <span>Магнитогорск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotAfter" data-city-id="19">
                            <span>Ковдор</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotAfter" data-city-id="20">
                            <span>Костомукша</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="21">
                            <span>Череповец</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="22">
                            <span>Выкса</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="23">
                            <span>Липецк</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="24">
                            <span>Железногорск</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotAfter" data-city-id="25">
                            <span>Старый Оскол</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="26">
                            <span>Санкт-Петербург</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="29">
                            <span>Удачный</span>
                            <div class="dot"></div>
                        </div>
                        <div class="cityItem dotBefore" data-city-id="30">
                            <span>Мирный</span>
                            <div class="dot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="map__list">
            <li><span>Санкт-Петербург</span></li>
            <li><span>Мирный</span></li>
            <li><span>Березники</span></li>
            <li><span>Мурманск</span></li>
            <li><span>Выкса</span></li>
            <li><span>Новокузнецк</span></li>
            <li><span>Eкатеринбург</span></li>
            <li><span>Новосибирск</span></li>
            <li><span>Железногорск</span></li>
            <li><span>Норильск</span></li>
            <li><span>Иркутск</span></li>
            <li><span>Оленегорск</span></li>
            <li><span>Кировск</span></li>
            <li><span>Пермь</span></li>
            <li><span>Ковдор</span></li>
            <li><span>Старый Оскол</span></li>
            <li><span>Костомукша</span></li>
            <li><span>Удачный</span></li>
            <li><span>Красноярск</span></li>
            <li><span>Хабаровск</span></li>
            <li><span>Липецк</span></li>
            <li><span>Челябинск</span></li>
            <li><span>Магнитогорск</span></li>
            <li><span>Череповец</span></li>
        </ul>
    </div>
</section>