<section class="projects-main">
    <div class="projects-main__media">
        <img src="@img/projects/media.svg" alt="">
    </div>
    <div class="projects-main-container">
        <div class="projects-main__header">
            <div class="title--bl">Проекты</div>
            <a href="#" class="link__more">
                <span>Смотреть все</span>
                <svg>
                    <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                </svg>
            </a>
        </div>
        <div class="projects-main__body">
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">
                        <h3 class="projects__name">Модернизация главного привода прокатного стана</h3>
                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-2.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">
                        <h3 class="projects__name">Внедрение комплектного электропривода и асу для шагающего
                            холодильника сортовой машины непрерывного литья заготовок</h3>
                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>

                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-3.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">
                        <h3 class="projects__name">Модернизация главного привода прокатного стана</h3>
                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
        </div>
        <div class="map">
            MAP
        </div>
    </div>
</section>