<section class="single">
    <div class="single-container">
        <div class="single__header">
            <h1 class="title--bl">Модернизация электропривода главной вентиляционной установки шахтного ствола с
                комплексными испытаниями ЭД под полной
                нагрузкой</h1>
        </div>
        <div class="single__body">
            <div class="single__content">
                <div class="single__text" data-editor>
                    <h4>Цель проекта</h4>
                    <ul>
                        <li>Интеграция системы управления запуском главной вентиляционной установки проветривания
                            шахтного ствола с применением ПЧ</li>
                    </ul>
                    <h4>Техническая задача</h4>
                    <ul>
                        <li>Инжиниринг, изготовление, поставка и внедрение четырех электроприводных комплектов на
                            напряжение 6 кВ</li>
                        <li>Обеспечение работы приводов в широких диапазонах регулирования скорости Учет требований
                            к датчикам вибрации, энкодерам
                            и габаритно-присоединительным размерам</li>
                        <li>Проведение в присутствии заказчика комплексных испытаний электропривода на стенде при
                            питании от ПЧ под 100 %
                            номинальной нагрузкой на валу ШМР, ПНР</li>
                    </ul>
                    <h4>Состав оборудования</h4>
                    <ul>
                        <li>Асинхронные ЭД мощностью 2,5 МВт с теплообменниками с принудительным охлаждением</li>
                        <li>Средневольтные ПЧ мощностью 3,2 МВт</li>
                    </ul>
                </div>
            </div>
            <div class="single__media">
                <div class="single__video">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/video.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <button type="submit" class="btn-call">Обсудить проект с экспертами Техногрупп</button>
            </div>
        </div>
    </div>
</section>