<section class="product">
    <div class="product-container">
        <h1 class="title">Преобразователи частоты TG Drive TG910</h1>
        <div class="product__body">
            <div class="media">
                <div class="video-wrapper">
                    <video class="video" muted playsinline preload="none" poster="@img/product/poster.jpg">
                        <source data-src="@img/video.mp4" type="video/mp4" />
                    </video>
                    <button class="btn-play" aria-label="Play video"></button>
                </div>
            </div>
            <div class="content" data-editor>
                <p>
                    TG880 – решение на базе модульного электропривода с общей шиной постоянного тока.
                </p>
                <p>Включает различные модули выпрямителей рассчитанные на разную мощность до 5,6 МВт и напряжением от
                    380 до 690 В. </p>
                <p>Системы электропривода с общей шиной постоянного тока применяются в разных технологических системах.
                </p>
                <button type="submit" class="btn-call">Запросить</button>
            </div>
        </div>
        <div data-tabs class="product-tabs">
            <nav data-tabs-titles class="product-tabs__navigation">
                <button type="button" class="product-tabs__title _tab-active">Характеристики</button>
                <button type="button" class="product-tabs__title">Конструктив</button>
                <button type="button" class="product-tabs__title">Преимущества</button>
                <button type="button" class="product-tabs__title">Дополнительные опции</button>
                <button type="button" class="product-tabs__title">Материалы</button>
                <button type="button" class="product-tabs__title">Номенклатурный код</button>
            </nav>
            <div data-tabs-body class="product-tabs__content">
                <div class="product-tabs__body">
                    <div class="specs-table">
                        <table>
                            <tbody>
                                <!-- Питание -->
                                <tr>
                                    <td rowspan="3" class="name">Питание</td>
                                    <td>Однофазное 220 В 50/60 Гц</td>
                                    <td>0,75 – 5,5 кВт</td>
                                </tr>
                                <tr>
                                    <td>Трехфазное 380 В 50/60 Гц</td>
                                    <td>0,75 – 1200 кВт</td>
                                </tr>
                                <tr class="border">
                                    <td>Трехфазное 660 В 50/60 Гц</td>
                                    <td>22 – 1200 кВт</td>
                                </tr>

                                <!-- Допуски на входное питание -->
                                <tr>
                                    <td rowspan="3" class="name">Допуски на входное питание</td>
                                    <td>Допустимые колебания напряжения</td>
                                    <td>320В – 480 В, уровень дисбаланса напряжения = 10%</td>
                                </tr>
                                <tr>
                                    <td>Допустимые колебания частоты</td>
                                    <td>Частота: ±5 % от максимальной частоты</td>
                                </tr>
                                <tr class="border">
                                    <td>Коэффициент искажения</td>
                                    <td>Соответствует IEC61800-2</td>
                                </tr>

                                <!-- Выходные характеристики -->
                                <tr>
                                    <td rowspan="5" class="name">Выходные характеристики</td>
                                    <td>Выходное напряжение</td>
                                    <td>0 – требуемое напряжение на выходе (в зависимости от напряжения питания)</td>
                                </tr>
                                <tr>
                                    <td>Диапазон выходной частоты</td>
                                    <td>0 – 500 Гц</td>
                                </tr>
                                <tr>
                                    <td rowspan="3">Перегрузочная способность</td>
                                    <td>150% номинального тока в течение 89 сек</td>
                                </tr>
                                <tr>
                                    <td>180% номинального тока в течение 10 сек</td>
                                </tr>
                                <tr class="border">
                                    <td>200% номинального тока в течение 3 сек</td>
                                </tr>

                                <!-- Основные характеристики управления -->
                                <tr>
                                    <td rowspan="7" class="name">Основные характеристики управления</td>
                                    <td rowspan="4">Режимы управления электродвигателями</td>
                                    <td>Скалярный режим управления V/F</td>
                                </tr>
                                <tr>
                                    <td>Векторный режим управления без обратной связи</td>
                                </tr>
                                <tr>

                                    <td>Векторный режим управления с обратной связью (замкнутый контур)</td>
                                </tr>
                                <tr>

                                    <td>Раздельное управление напряжением и частотой</td>
                                </tr>
                                <tr>
                                    <td>Несущая частота коммутации IGBT-транзисторов</td>
                                    <td>1,0 – 16,0 кГц</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Пусковой момент</td>
                                    <td>Векторный режим без обратной связи: 150% номинального момента на частоте от 0,25
                                        Гц
                                    </td>
                                </tr>
                                <tr>
                                    <td>Векторный режим с обратной связью (замкнутый контур): 200% номинального момента
                                        на
                                        частоте от 0 Гц
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="product-tabs__body">
                    <div class="constructive__wrap">
                        <div class="constructive__element">
                            <div class="constructive__text" data-editor>
                                <p>Детально продуманная система отвода тепла</p>
                                <p>Внутренняя компоновка элементов частотного преобразователя тщательно спроектирована.
                                    Основные каналы отвода тепла
                                    изолированы от основных компонентов.</p>
                            </div>
                            <div class="constructive__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/product/constructive-5.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="constructive__element">
                            <div class="constructive__text" data-editor>
                                <p>Радиатор выполнен в специальной конструкции совместно с вентиляторами, способными
                                    обеспечить большую скорость обдува.
                                    Это позволяет преобразователю частоты работать в тяжелых условиях окружающей среды
                                    без понижения выходных мощностных
                                    характеристик, а также дает возможность устанавливать преобразователи частоты
                                    вплотную друг к другу и значительно
                                    экономить занимаемое место. Этот параметр особенно важен при размещении нескольких
                                    частотных преобразователей внутри
                                    шкафа.</p>
                            </div>
                            <div class="constructive__img">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/product/constructive-6.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                    <div class="constructive__media">
                        <picture class="lazy image--cover">
                            <img data-src="@img/product/constructive-3.jpg" class="image lazy__item" alt="">
                        </picture>
                    </div>
                    <div class="constructive__bottom">
                        <h3 class="product__title">Типовая компоновка TG910</h3>
                        <div class="constructive__wrapper">
                            <div class="constructive__box">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/product/constructive-4.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                    <div class="product__title">Клеммы управления</div>
                    <div class="specs-table constructive">
                        <table>
                            <thead class="border">
                                <tr>
                                    <th>Наименование</th>
                                    <th style="text-align: center;">Количество</th>
                                    <th>Примечания</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="name">Дискретный вход Х</td>
                                    <td style="text-align: center;">5</td>
                                    <td>Переключаемый тип логики PNP/NPN</td>
                                </tr>
                                <tr>
                                    <td class="name">Дискретный выход Y</td>
                                    <td style="text-align: center;">1</td>
                                    <td>Выход с открытым коллектором</td>
                                </tr>
                                <tr>
                                    <td class="name">Выходное реле</td>
                                    <td style="text-align: center;">1</td>
                                    <td>Нормально разомкнутый / нормально замкнутый</td>
                                </tr>
                                <tr>
                                    <td class="name">Выход питания 10 В</td>
                                    <td style="text-align: center;">1</td>
                                    <td>50 мА</td>
                                </tr>
                                <tr>
                                    <td class="name">Выход питания 24 В</td>
                                    <td style="text-align: center;">1</td>
                                    <td>100 мА</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="name">Аналоговый вход</td>
                                    <td rowspan="2" style="text-align: center;">2</td>
                                    <td>0-10 В</td>
                                </tr>
                                <tr>
                                    <td>0-20 мА / 4-20 мА</td>
                                </tr>
                                <tr>
                                    <td rowspan="3" class="name">Аналоговый выход</td>
                                    <td rowspan="3" style="text-align: center;">1</td>
                                    <td>0-10 В</td>
                                </tr>
                                <tr>
                                    <td>0-20 мА / 4-20 мА</td>
                                </tr>
                                <tr>
                                    <td>Импульсный выход 0-100 кГц</td>
                                </tr>
                                <tr>
                                    <td class="name">Интерфейс R5-485</td>
                                    <td style="text-align: center;">1</td>
                                    <td>Протокол ModBus RTU</td>
                                </tr>
                                <tr>
                                    <td class="name">Высокочастотный импульсный вход</td>
                                    <td style="text-align: center;">1</td>
                                    <td>Клемма Х5: вход 0-5 кГц</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="product-tabs__body">
                    <div class="advantages__grid">
                        <div class="advantages__item">
                            <span class="number">1</span>
                            <div class="text" data-editor>
                                <p><b>Энергоэффективность</b></p>
                                <ul>
                                    <li>Высокий КПД: до 98%</li>
                                    <li>Высокая энергоэффективность</li>
                                    <li>Уменьшена мощность рассеивания</li>
                                    <li>Высокая плотность выходной мощности</li>
                                </ul>
                            </div>
                        </div>
                        <div class="advantages__item">
                            <span class="number">2</span>
                            <div class="text" data-editor>
                                <p><b>Надежность</b></p>
                                <ul>
                                    <li>Стойкость к тяжелым рабочим условиям</li>
                                    <li>Не требовательны к постоянному техническому обслуживанию</li>
                                    <li>Обеспечивают комплексную надежность системы электропривода</li>
                                </ul>
                            </div>
                        </div>
                        <div class="advantages__item">
                            <span class="number">3</span>
                            <div class="text" data-editor>
                                <p><b>Технологичность производства</b></p>
                                <ul>
                                    <li>>400 тысяч преобразователей частоты в год</li>
                                    <li>5 линий производства печатных плат</li>
                                    <li>Строгий контроль на каждом этапе производства</li>
                                    <li>Испытания каждого ПЧ под полной нагрузкой</li>
                                    <li>Машинное зрение</li>
                                </ul>
                            </div>
                        </div>
                        <div class="advantages__item">
                            <span class="number">4</span>
                            <div class="text" data-editor>
                                <p><b>Высокая электромагнитная совместимость</b></p>
                                <ul>
                                    <li>Минимальный коэффициент dU/dt</li>
                                    <li>Устойчивы к электромагнитным помехам и перенапряжениям</li>
                                </ul>
                            </div>
                        </div>
                        <div class="advantages__item">
                            <span class="number">5</span>
                            <div class="text" data-editor>
                                <p><b>Адаптивность</b></p>
                                <ul>
                                    <li>Широкий спектр отраслевых функций</li>
                                    <li>Возможность работы в различных средах</li>
                                    <li>Компактный дизайн экономит производственные площади</li>
                                    <li>HMI для ПЧ шкафного исполнения со степенью защиты IP54</li>
                                </ul>
                            </div>
                        </div>
                        <div class="advantages__item">
                            <span class="number">6</span>
                            <div class="text" data-editor>
                                <p><b>Экологичность</b></p>
                                <ul>
                                    <li>Соответствие международным экологическим стандартам</li>
                                    <li>Ограничение вредных выбросов</li>
                                    <li>Повторное использование материалов</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-tabs__body">
                    <div class="product__title">Платы расширения</div>
                    <div class="options-1">
                        <div class="options__item">
                            <div class="options__media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/product/options-3.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="options__text"></div>
                        </div>
                    </div>
                    <div class="options__table">
                        <div class="options__row">
                            <div class="options__box">
                                <div class="options__img">
                                    <picture class="lazy image--cover">
                                        <img data-src="@img/product/options-4.png" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="options__title">TG910-PG01</div>
                            <div class="options__desc">Плата для подключения инкрементального энкодера. Поддерживаемые
                                уровни напряжения:5 В и 12 В</div>
                        </div>
                        <div class="options__row">
                            <div class="options__box">
                                <div class="options__img">
                                    <picture class="lazy image--cover">
                                        <img data-src="@img/product/options-5.png" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="options__title">TG910-DP01</div>
                            <div class="options__desc">Плата протокола ProfiBus</div>
                        </div>
                        <div class="options__row">
                            <div class="options__box">
                                <div class="options__img">
                                    <picture class="lazy image--cover">
                                        <img data-src="@img/product/options-6.png" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="options__title">TGD910-L1 LCD</div>
                            <div class="options__desc">Панель управления с жидко-кристаллическим дисплеем</div>
                        </div>
                        <div class="options__row">
                            <div class="options__box">
                                <div class="options__img">
                                    <picture class="lazy image--cover">
                                        <img data-src="@img/product/options-7.png" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="options__title">TG910-RT1</div>
                            <div class="options__desc">Плата для подключения резольвера</div>
                        </div>
                        <div class="options__row">
                            <div class="options__box">
                                <div class="options__img">
                                    <picture class="lazy image--cover">
                                        <img data-src="@img/product/options-4.png" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="options__title">TG910-PN</div>
                            <div class="options__desc">Плата протокола ProfiNet</div>
                        </div>
                        <div class="options__row">
                            <div class="options__box">
                                <div class="options__img">
                                    <picture class="lazy image--cover">
                                        <img data-src="@img/product/options-5.png" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="options__title">TG910-HMI 7/10</div>
                            <div class="options__desc">Сенсорная панель HMI 7” или 10”</div>
                        </div>
                    </div>
                    <div class="options__wrapper">
                        <div class="description" data-editor>
                            <h3>Особенности HMI TG Drive</h3>
                            <ul>
                                <li>Резистивный TFT LCD дисплей</li>
                                <li>Размеры экрана: 7”, 10”</li>
                                <li>Интерфейсы: RS-232/485/422, Ethernet</li>
                                <li>Протоколы: Modbus RTU/ASCII/TCP</li>
                                <li>USB-порт и SD-слот для архивирования</li>
                                <li>Часы реального времени (RTC)</li>
                                <li>Степень пылевлагозащиты IP65</li>
                                <li>Удаленный контроль через VNC</li>
                            </ul>
                            <h3>Преобразователи частоты TG Drive в шкафном исполнении со степенью защиты IP54</h3>
                            <p>Можно комплектовать силовыми опциями и HMI-панелью, указанными в расшифровке кода для
                                заказа</p>
                            <h4>Перечень опций:</h4>
                            <ul>
                                <li>Входной контактор</li>
                                <li>Рубильник</li>
                                <li>Защитные предохранители на вводе</li>
                                <li>Фильтры гармоник</li>
                                <li>dU/dt</li>
                                <li>SIN-фильтр</li>
                                <li>HMI-панель</li>
                            </ul>
                            <h3>Service kit</h3>
                            <h4>Базовый Service kit</h4>
                            <ul>
                                <li>Вентилятор охлаждения</li>
                                <li>Плата управления</li>
                            </ul>
                            <h4>Расширенный Service kit</h4>
                            <ul>
                                <li>Вентилятор охлаждения</li>
                                <li>Плата управления</li>
                                <li>IGBT-модуль + плата IGBT</li>
                                <li>Диодный модуль</li>
                            </ul>
                            <a href="#" class="btn-download" download>
                                <span>Скачать Service kit</span>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                        fill="none">
                                        <path
                                            d="M19 13V14.2C19 15.8802 19 16.7202 18.673 17.362C18.3854 17.9265 17.9265 18.3854 17.362 18.673C16.7202 19 15.8802 19 14.2 19H5.8C4.11984 19 3.27976 19 2.63803 18.673C2.07354 18.3854 1.6146 17.9265 1.32698 17.362C1 16.7202 1 15.8802 1 14.2V13M15 8L10 13M10 13L5 8M10 13V1"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <div class="options__gallery">
                            <div class="options__item">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/product/options-8.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="options__item">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/product/options-9.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-tabs__body">
                    <div class="materials">
                        <div data-tabs class="product-tabs">
                            <nav data-tabs-titles class="product-tabs__navigation">
                                <button type="button" class="product-tabs__title _tab-active">Брошюры</button>
                                <button type="button" class="product-tabs__title ">Инструкции</button>
                            </nav>
                            <div data-tabs-body class="product-tabs__content">
                                <div class="product-tabs__body">
                                    <div class="materials__slider swiper">
                                        <div class="materials__wrapper swiper-wrapper">
                                            <div class="materials__slide swiper-slide">
                                                <div class="materials__item">
                                                    <div class="materials__media">
                                                        <picture class="lazy image--cover">
                                                            <img data-src="@img/product/material.jpg"
                                                                class="image lazy__item" alt="">
                                                        </picture>
                                                        <div class="materials__name">Преобразователь частотыTG Drive
                                                            TG880</div>
                                                    </div>
                                                    <div class="materials__content">
                                                        <a href="#" class="btn-download" download>
                                                            <span>Скачать</span>
                                                            <span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                    height="20" viewBox="0 0 20 20" fill="none">
                                                                    <path
                                                                        d="M19 13V14.2C19 15.8802 19 16.7202 18.673 17.362C18.3854 17.9265 17.9265 18.3854 17.362 18.673C16.7202 19 15.8802 19 14.2 19H5.8C4.11984 19 3.27976 19 2.63803 18.673C2.07354 18.3854 1.6146 17.9265 1.32698 17.362C1 16.7202 1 15.8802 1 14.2V13M15 8L10 13M10 13L5 8M10 13V1"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="materials__slide swiper-slide">
                                                <div class="materials__item">
                                                    <div class="materials__media">
                                                        <picture class="lazy image--cover">
                                                            <img data-src="@img/product/material.jpg"
                                                                class="image lazy__item" alt="">
                                                        </picture>
                                                        <div class="materials__name">Преобразователь частотыTG Drive
                                                            TG880</div>
                                                    </div>
                                                    <div class="materials__content">
                                                        <a href="#" class="btn-download" download>
                                                            <span>Скачать</span>
                                                            <span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                    height="20" viewBox="0 0 20 20" fill="none">
                                                                    <path
                                                                        d="M19 13V14.2C19 15.8802 19 16.7202 18.673 17.362C18.3854 17.9265 17.9265 18.3854 17.362 18.673C16.7202 19 15.8802 19 14.2 19H5.8C4.11984 19 3.27976 19 2.63803 18.673C2.07354 18.3854 1.6146 17.9265 1.32698 17.362C1 16.7202 1 15.8802 1 14.2V13M15 8L10 13M10 13L5 8M10 13V1"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="materials__slide swiper-slide">
                                                <div class="materials__item">
                                                    <div class="materials__media">
                                                        <picture class="lazy image--cover">
                                                            <img data-src="@img/product/material.jpg"
                                                                class="image lazy__item" alt="">
                                                        </picture>
                                                        <div class="materials__name">Преобразователь частотыTG Drive
                                                            TG880</div>
                                                    </div>
                                                    <div class="materials__content">
                                                        <a href="#" class="btn-download" download>
                                                            <span>Скачать</span>
                                                            <span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                    height="20" viewBox="0 0 20 20" fill="none">
                                                                    <path
                                                                        d="M19 13V14.2C19 15.8802 19 16.7202 18.673 17.362C18.3854 17.9265 17.9265 18.3854 17.362 18.673C16.7202 19 15.8802 19 14.2 19H5.8C4.11984 19 3.27976 19 2.63803 18.673C2.07354 18.3854 1.6146 17.9265 1.32698 17.362C1 16.7202 1 15.8802 1 14.2V13M15 8L10 13M10 13L5 8M10 13V1"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="materials__slide swiper-slide">
                                                <div class="materials__item">
                                                    <div class="materials__media">
                                                        <picture class="lazy image--cover">
                                                            <img data-src="@img/product/material.jpg"
                                                                class="image lazy__item" alt="">
                                                        </picture>
                                                        <div class="materials__name">Преобразователь частотыTG Drive
                                                            TG880</div>
                                                    </div>
                                                    <div class="materials__content">
                                                        <a href="#" class="btn-download" download>
                                                            <span>Скачать</span>
                                                            <span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                    height="20" viewBox="0 0 20 20" fill="none">
                                                                    <path
                                                                        d="M19 13V14.2C19 15.8802 19 16.7202 18.673 17.362C18.3854 17.9265 17.9265 18.3854 17.362 18.673C16.7202 19 15.8802 19 14.2 19H5.8C4.11984 19 3.27976 19 2.63803 18.673C2.07354 18.3854 1.6146 17.9265 1.32698 17.362C1 16.7202 1 15.8802 1 14.2V13M15 8L10 13M10 13L5 8M10 13V1"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <div class="product-tabs__body">
                                    <div class="manual__grid">
                                        <a href="#" class="manual__item" download>
                                            <div class="manual__media"></div>
                                            <div class="manual__text">Файл интеграции по протоколу ProfiBus</div>
                                        </a>
                                        <a href="#" class="manual__item" download>
                                            <div class="manual__media"></div>
                                            <div class="manual__text">Файл интеграции по протоколу ProfiBus</div>
                                        </a>
                                        <a href="#" class="manual__item" download>
                                            <div class="manual__media"></div>
                                            <div class="manual__text">Файл интеграции по протоколу ProfiBus</div>
                                        </a>
                                        <a href="#" class="manual__item" download>
                                            <div class="manual__media"></div>
                                            <div class="manual__text">Файл интеграции по протоколу ProfiNet</div>
                                        </a>
                                        <a href="#" class="manual__item" download>
                                            <div class="manual__media"></div>
                                            <div class="manual__text">Файл интеграции по протоколу ProfiNet</div>
                                        </a>
                                        <a href="#" class="manual__item" download>
                                            <div class="manual__media"></div>
                                            <div class="manual__text">Руководство по эксплуатации платы ProfiBus_DP
                                                «TG910DP01»</div>
                                        </a>
                                        <a href="#" class="manual__item" download>
                                            <div class="manual__media"></div>
                                            <div class="manual__text">Руководство по эксплуатации платы ProfiBus_DP
                                                «TG910DP01»</div>
                                        </a>
                                        <a href="#" class="manual__item" download>
                                            <div class="manual__media"></div>
                                            <div class="manual__text">Руководство по эксплуатации платы TG910-Profinet
                                            </div>
                                        </a>
                                        <a href="#" class="manual__item" download>
                                            <div class="manual__media"></div>
                                            <div class="manual__text">Инструкция по эксплуатации платы расширения ModBus
                                                TCP</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="product-tabs__body">
                    <div class="nomenclature__wrapper">
                        <div class="nomenclature__table">
                            <div class="table-row">
                                <div class="table-cell dark">TG</div>
                                <div class="table-cell light">
                                    880
                                    <span class="number">[1]</span>
                                </div>
                                <div class="table-cell dark">–</div>
                                <div class="table-cell light">
                                    07
                                    <span class="number">[2]</span>
                                </div>
                                <div class="table-cell dark">–</div>
                                <div class="table-cell light">
                                    0516A
                                    <span class="number">[3]</span>
                                </div>
                                <div class="table-cell dark">–</div>
                                <div class="table-cell light">
                                    3
                                    <span class="number">[4]</span>
                                </div>
                                <div class="table-cell dark">–</div>
                                <div class="table-cell light">
                                    54
                                    <span class="number">[5]</span>
                                </div>
                                <div class="table-cell dark">+</div>
                                <div class="table-cell light">
                                    Опции*
                                    <span class="number">[6]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-spollers class="spollers">
                        <div class="spollers__item">
                            <button type="button" data-spoller class="spollers__title">
                                <span>[1] Серия преобразователя</span>
                                <span class="spollers__icon"></span>
                            </button>
                            <div class="spollers__body">Контент спойлера</div>
                        </div>
                        <div class="spollers__item">
                            <button type="button" data-spoller class="spollers__title">
                                <span>[2] Тип выпрямителя</span>
                                <span class="spollers__icon"></span>
                            </button>
                            <div class="spollers__body">Контент спойлера</div>
                        </div>
                        <div class="spollers__item">
                            <button type="button" data-spoller class="spollers__title">
                                <span>[3] Номинальный ток без учета перегрузок</span>
                                <span class="spollers__icon"></span>
                            </button>
                            <div class="spollers__body">Контент спойлера</div>
                        </div>
                        <div class="spollers__item">
                            <button type="button" data-spoller class="spollers__title">
                                <span>[4] Входное напряжение сети</span>
                                <span class="spollers__icon"></span>
                            </button>
                            <div class="spollers__body">Контент спойлера</div>
                        </div>
                        <div class="spollers__item">
                            <button type="button" data-spoller class="spollers__title">
                                <span>[5] Степень защиты</span>
                                <span class="spollers__icon"></span>
                            </button>
                            <div class="spollers__body">Контент спойлера</div>
                        </div>
                        <div class="spollers__item">
                            <button type="button" data-spoller class="spollers__title">
                                <span>[6] Опции*</span>
                                <span class="spollers__icon"></span>
                            </button>
                            <div class="spollers__body">Контент спойлера</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>