<section class="product">
    <div class="product-container">
        <h1 class="title">Преобразователи частоты TG Drive TG880</h1>
        <div class="product__body">
            <div class="media">
                <div class="video-wrapper">
                    <video class="video" muted playsinline preload="none" poster="@img/product/poster.jpg">
                        <source data-src="@img/video.mp4" type="video/mp4" />
                    </video>
                    <button class="btn-play" aria-label="Play video"></button>
                </div>
            </div>
            <div class="content" data-editor>
                <p>
                    TG880 – решение на базе модульного электропривода с общей шиной постоянного тока.
                </p>
                <p>Включает различные модули выпрямителей рассчитанные на разную мощность до 5,6 МВт и напряжением от
                    380 до 690 В. </p>
                <p>Системы электропривода с общей шиной постоянного тока применяются в разных технологических системах.
                </p>
                <button type="submit" class="btn-call">Запросить</button>
            </div>
        </div>
        <div data-tabs class="product-tabs">
            <nav data-tabs-titles class="product-tabs__navigation">
                <button type="button" class="product-tabs__title _tab-active">Характеристики</button>
                <button type="button" class="product-tabs__title">Применение</button>
                <button type="button" class="product-tabs__title">Конструктив</button>
                <button type="button" class="product-tabs__title">Преимущества</button>
                <button type="button" class="product-tabs__title">Дополнительные опции</button>
                <button type="button" class="product-tabs__title">Материалы</button>
                <button type="button" class="product-tabs__title">Номенклатурный код</button>
            </nav>
            <div data-tabs-body class="product-tabs__content">
                <div class="product-tabs__body">
                    <div class="specifications">
                        <div class="specs__table">
                            <div class="specs__row">
                                <div class="specs__name">Напряжение</div>
                                <div class="specs__value">0,4 кВ, 0,5 кВ, 0,69 кВ</div>
                            </div>
                            <div class="specs__row">
                                <div class="specs__name">Выпрямитель</div>
                                <div class="specs__value">базовый или активный</div>
                            </div>
                            <div class="specs__row">
                                <div class="specs__name">КПД</div>
                                <div class="specs__value">не менее 98%</div>
                            </div>
                            <div class="specs__row">
                                <div class="specs__name">Степень защиты</div>
                                <div class="specs__value">IP31 или UP54</div>
                            </div>
                            <div class="specs__row">
                                <div class="specs__name">Мощность</div>
                                <div class="specs__value">до 5,6 МВт</div>
                            </div>
                        </div>
                        <div class="media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/product/spec.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="specifications__content">
                        <div class="content" data-editor="">
                            <h3>TG880 Без функции рекуперации
                                (базовый выпрямитель)</h3>
                            <ul>
                                <li>Рентабельное решение для небольших производственных линий</li>
                                <li>При торможении освобождается энергия, которая направляется на другие элементы
                                    системы через общую шину постоянного тока</li>
                                <li>Излишки мощности могут рассеиваться в виде тепловой энергии с использованием
                                    дополнительного тормозного прерывателя и
                                    тормозных резисторов.нных линий</li>
                            </ul>
                        </div>
                        <div class="content" data-editor="">
                            <h3>TG880 с функцией рекуперации
                                (активный выпрямитель)</h3>
                            <ul>
                                <li>Возвращает энергию обратно в электрическую сеть</li>
                                <li>Подойдет для технологических процессов с инерционной нагрузкой, где необходима
                                    рекуперация энергии при циклическом или
                                    непрерывном торможении</li>
                                <li>При рекуперации энергия торможения двигателя утилизируется приводом и возвращается
                                    им в питающую сеть, где используется
                                    другими потребителями.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product-tabs__body">
                    <div class="application">
                        <div class="application__header">
                            <p>Системы частотного регулирования TG880 успешно используются в сложных системах
                                горнодобывающей, металлургической,
                                химической и прочих отраслях</p>
                        </div>
                        <div class="application__slider swiper">
                            <div class="application__wrapper swiper-wrapper">
                                <div class="application__slide swiper-slide">
                                    <div class="application__item">
                                        <picture class="lazy image--cover">
                                            <img data-src="@img/product/app-1.jpg" class="image lazy__item" alt="">
                                        </picture>
                                    </div>
                                </div>
                                <div class="application__slide swiper-slide">
                                    <div class="application__item">
                                        <picture class="lazy image--cover">
                                            <img data-src="@img/product/app-2.jpg" class="image lazy__item" alt="">
                                        </picture>
                                    </div>
                                </div>
                                <div class="application__slide swiper-slide">
                                    <div class="application__item">
                                        <picture class="lazy image--cover">
                                            <img data-src="@img/product/app-3.jpg" class="image lazy__item" alt="">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="application__grid">
                            <div class="application__item">
                                <div class="application__media">
                                    <picture class="lazy image--contain">
                                        <img data-src="@img/product/app-icon-1.svg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                                <div class="application__text">Дробилки</div>
                            </div>
                            <div class="application__item">
                                <div class="application__media">
                                    <picture class="lazy image--contain">
                                        <img data-src="@img/product/app-icon-2.svg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                                <div class="application__text">Рольганги, роликовые столы прокатных станов</div>
                            </div>
                            <div class="application__item">
                                <div class="application__media">
                                    <picture class="lazy image--contain">
                                        <img data-src="@img/product/app-icon-3.svg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                                <div class="application__text">Устройства для сматывания и разматывания</div>
                            </div>
                            <div class="application__item">
                                <div class="application__media">
                                    <picture class="lazy image--contain">
                                        <img data-src="@img/product/app-icon-4.svg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                                <div class="application__text">Крановые системы</div>
                            </div>
                            <div class="application__item">
                                <div class="application__media">
                                    <picture class="lazy image--contain">
                                        <img data-src="@img/product/app-icon-5.svg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                                <div class="application__text">Центрифуги</div>
                            </div>
                            <div class="application__item">
                                <div class="application__media">
                                    <picture class="lazy image--contain">
                                        <img data-src="@img/product/app-icon-6.svg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                                <div class="application__text">Мельницы</div>
                            </div>
                            <div class="application__item">
                                <div class="application__media">
                                    <picture class="lazy image--contain">
                                        <img data-src="@img/product/app-icon-7.svg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                                <div class="application__text">Конвейеры</div>
                            </div>
                            <div class="application__item">
                                <div class="application__media">
                                    <picture class="lazy image--contain">
                                        <img data-src="@img/product/app-icon-8.svg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                                <div class="application__text">Экскаваторы</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-tabs__body">
                    <div class="constructive">
                        <div class="constructive__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/product/constructive.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                        <div class="constructive__grid">
                            <div class="constructive__item">
                                <span class="number">1</span>
                                <span class="text">Шкафы и их наполнение из отечественных комплектующих</span>
                            </div>
                            <div class="constructive__item">
                                <span class="number">2</span>
                                <span class="text">Полностью сварная рама у шкафов</span>
                            </div>
                            <div class="constructive__item">
                                <span class="number">3</span>
                                <span class="text">Медная лужёная шина</span>
                            </div>
                            <div class="constructive__item">
                                <span class="number">4</span>
                                <span class="text">Крышные вентиляторы большой производительности</span>
                            </div>
                            <div class="constructive__item">
                                <span class="number">5</span>
                                <span class="text">Быстродействующие предохранители</span>
                            </div>
                            <div class="constructive__item">
                                <span class="number">6</span>
                                <span class="text">Простота установки и замены модулей</span>
                            </div>
                        </div>
                        <div class="constructive__bottom">
                            <h3 class="product__title">Типовая компоновка TG880</h3>
                            <div class="constructive__wrapper">
                                <div class="constructive__box">
                                    <picture class="lazy image--cover">
                                        <img data-src="@img/product/constructive-2.jpg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-tabs__body">
                    <div class="advantages__grid">
                        <div class="advantages__item">
                            <span class="number">1</span>
                            <div class="text" data-editor>
                                <p><b>Модульная конструкция оборудования</b> и разнообразные типы
                                    выпрямителей: базовые выпрямители, активные выпрямители с
                                    функцией регенерации</p>
                            </div>
                        </div>
                        <div class="advantages__item">
                            <span class="number">2</span>
                            <div class="text" data-editor>
                                <p>Данные шкафы <b>производятся</b> на производственной площадке
                                    АО
                                    «Техногрупп» <b>в Санкт-Петербурге</b></p>
                            </div>
                        </div>
                        <div class="advantages__item">
                            <span class="number">3</span>
                            <div class="text" data-editor>
                                <p><b>Срок службы</b> оборудования до 25 лет. Модульность
                                    конструкции
                                    позволяет
                                    <b>быстро устранить неисправности</b>
                                </p>
                            </div>
                        </div>
                        <div class="advantages__item">
                            <span class="number">4</span>
                            <div class="text" data-editor>
                                <p><b>Высокая точность</b> управления электродвигателем, низкая
                                    погрешность,
                                    управление синхронными и асинхронными
                                    электродвигателями в различных режима</p>
                            </div>
                        </div>
                        <div class="advantages__item">
                            <span class="number">5</span>
                            <div class="text" data-editor>
                                <p>Панель оператора <b>на русском языке</b></p>
                            </div>
                        </div>
                        <div class="advantages__item">
                            <span class="number">6</span>
                            <div class="text" data-editor>
                                <p>Гибкость конфигурирования системы. <b>Мощность</b> может
                                    достигать 5,6
                                    мВт</p>
                            </div>
                        </div>
                        <div class="advantages__item">
                            <span class="number">7</span>
                            <div class="text" data-editor>
                                <p><b>Высокая электромагнитная совместимость:</b> Минимальный
                                    коэффициент
                                    dU/dt:
                                    Устойчивы к электромагнитным помехам и
                                    перенапряжениям</p>
                            </div>
                        </div>
                        <div class="advantages__item">
                            <span class="number">8</span>
                            <div class="text" data-editor>
                                <p>Не боятся агрессивных условий эксплуатации. <b>Степень
                                        защиты</b> шкафов
                                    до
                                    IP54</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-tabs__body">
                    <div class="options-2">
                        <div class="options__item">
                            <div class="options__media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/product/options-1.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="options__text">Поддержка различных типов энкодеров</div>
                        </div>
                        <div class="options__item">
                            <div class="options__media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/product/options-2.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="options__text">Модули промышленных протоколов</div>
                        </div>
                    </div>
                </div>
                <div class="product-tabs__body">
                    <div class="materials">
                        <div data-tabs class="product-tabs">
                            <nav data-tabs-titles class="product-tabs__navigation">
                                <button type="button" class="product-tabs__title _tab-active">Брошюры</button>
                            </nav>
                            <div data-tabs-body class="product-tabs__content">
                                <div class="product-tabs__body">
                                    <div class="materials__slider swiper">
                                        <div class="materials__wrapper swiper-wrapper">
                                            <div class="materials__slide swiper-slide">
                                                <div class="materials__item">
                                                    <div class="materials__media">
                                                        <picture class="lazy image--cover">
                                                            <img data-src="@img/product/material.jpg"
                                                                class="image lazy__item" alt="">
                                                        </picture>
                                                        <div class="materials__name">Преобразователь частотыTG Drive
                                                            TG880</div>
                                                    </div>
                                                    <div class="materials__content">
                                                        <a href="#" class="btn-download" download>
                                                            <span>Скачать</span>
                                                            <span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                    height="20" viewBox="0 0 20 20" fill="none">
                                                                    <path
                                                                        d="M19 13V14.2C19 15.8802 19 16.7202 18.673 17.362C18.3854 17.9265 17.9265 18.3854 17.362 18.673C16.7202 19 15.8802 19 14.2 19H5.8C4.11984 19 3.27976 19 2.63803 18.673C2.07354 18.3854 1.6146 17.9265 1.32698 17.362C1 16.7202 1 15.8802 1 14.2V13M15 8L10 13M10 13L5 8M10 13V1"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="materials__slide swiper-slide">
                                                <div class="materials__item">
                                                    <div class="materials__media">
                                                        <picture class="lazy image--cover">
                                                            <img data-src="@img/product/material.jpg"
                                                                class="image lazy__item" alt="">
                                                        </picture>
                                                        <div class="materials__name">Преобразователь частотыTG Drive
                                                            TG880</div>
                                                    </div>
                                                    <div class="materials__content">
                                                        <a href="#" class="btn-download" download>
                                                            <span>Скачать</span>
                                                            <span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                    height="20" viewBox="0 0 20 20" fill="none">
                                                                    <path
                                                                        d="M19 13V14.2C19 15.8802 19 16.7202 18.673 17.362C18.3854 17.9265 17.9265 18.3854 17.362 18.673C16.7202 19 15.8802 19 14.2 19H5.8C4.11984 19 3.27976 19 2.63803 18.673C2.07354 18.3854 1.6146 17.9265 1.32698 17.362C1 16.7202 1 15.8802 1 14.2V13M15 8L10 13M10 13L5 8M10 13V1"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="materials__slide swiper-slide">
                                                <div class="materials__item">
                                                    <div class="materials__media">
                                                        <picture class="lazy image--cover">
                                                            <img data-src="@img/product/material.jpg"
                                                                class="image lazy__item" alt="">
                                                        </picture>
                                                        <div class="materials__name">Преобразователь частотыTG Drive
                                                            TG880</div>
                                                    </div>
                                                    <div class="materials__content">
                                                        <a href="#" class="btn-download" download>
                                                            <span>Скачать</span>
                                                            <span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                    height="20" viewBox="0 0 20 20" fill="none">
                                                                    <path
                                                                        d="M19 13V14.2C19 15.8802 19 16.7202 18.673 17.362C18.3854 17.9265 17.9265 18.3854 17.362 18.673C16.7202 19 15.8802 19 14.2 19H5.8C4.11984 19 3.27976 19 2.63803 18.673C2.07354 18.3854 1.6146 17.9265 1.32698 17.362C1 16.7202 1 15.8802 1 14.2V13M15 8L10 13M10 13L5 8M10 13V1"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="materials__slide swiper-slide">
                                                <div class="materials__item">
                                                    <div class="materials__media">
                                                        <picture class="lazy image--cover">
                                                            <img data-src="@img/product/material.jpg"
                                                                class="image lazy__item" alt="">
                                                        </picture>
                                                        <div class="materials__name">Преобразователь частотыTG Drive
                                                            TG880</div>
                                                    </div>
                                                    <div class="materials__content">
                                                        <a href="#" class="btn-download" download>
                                                            <span>Скачать</span>
                                                            <span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                    height="20" viewBox="0 0 20 20" fill="none">
                                                                    <path
                                                                        d="M19 13V14.2C19 15.8802 19 16.7202 18.673 17.362C18.3854 17.9265 17.9265 18.3854 17.362 18.673C16.7202 19 15.8802 19 14.2 19H5.8C4.11984 19 3.27976 19 2.63803 18.673C2.07354 18.3854 1.6146 17.9265 1.32698 17.362C1 16.7202 1 15.8802 1 14.2V13M15 8L10 13M10 13L5 8M10 13V1"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="product-tabs__body">
                    <div class="nomenclature__wrapper">
                        <div class="nomenclature__table">
                            <div class="table-row">
                                <div class="table-cell dark">TG</div>
                                <div class="table-cell light">
                                    880
                                    <span class="number">[1]</span>
                                </div>
                                <div class="table-cell dark">–</div>
                                <div class="table-cell light">
                                    07
                                    <span class="number">[2]</span>
                                </div>
                                <div class="table-cell dark">–</div>
                                <div class="table-cell light">
                                    0516A
                                    <span class="number">[3]</span>
                                </div>
                                <div class="table-cell dark">–</div>
                                <div class="table-cell light">
                                    3
                                    <span class="number">[4]</span>
                                </div>
                                <div class="table-cell dark">–</div>
                                <div class="table-cell light">
                                    54
                                    <span class="number">[5]</span>
                                </div>
                                <div class="table-cell dark">+</div>
                                <div class="table-cell light">
                                    Опции*
                                    <span class="number">[6]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-spollers class="spollers">
                        <div class="spollers__item">
                            <button type="button" data-spoller class="spollers__title">
                                <span>[1] Серия преобразователя</span>
                                <span class="spollers__icon"></span>
                            </button>
                            <div class="spollers__body">Контент спойлера</div>
                        </div>
                        <div class="spollers__item">
                            <button type="button" data-spoller class="spollers__title">
                                <span>[2] Тип выпрямителя</span>
                                <span class="spollers__icon"></span>
                            </button>
                            <div class="spollers__body">Контент спойлера</div>
                        </div>
                        <div class="spollers__item">
                            <button type="button" data-spoller class="spollers__title">
                                <span>[3] Номинальный ток без учета перегрузок</span>
                                <span class="spollers__icon"></span>
                            </button>
                            <div class="spollers__body">Контент спойлера</div>
                        </div>
                        <div class="spollers__item">
                            <button type="button" data-spoller class="spollers__title">
                                <span>[4] Входное напряжение сети</span>
                                <span class="spollers__icon"></span>
                            </button>
                            <div class="spollers__body">Контент спойлера</div>
                        </div>
                        <div class="spollers__item">
                            <button type="button" data-spoller class="spollers__title">
                                <span>[5] Степень защиты</span>
                                <span class="spollers__icon"></span>
                            </button>
                            <div class="spollers__body">Контент спойлера</div>
                        </div>
                        <div class="spollers__item">
                            <button type="button" data-spoller class="spollers__title">
                                <span>[6] Опции*</span>
                                <span class="spollers__icon"></span>
                            </button>
                            <div class="spollers__body">Контент спойлера</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>