<section class="news">
    <div class="news-container">
        <div class="news__header">
            <h1 class="title">Проекты</h1>
            <button class="btn-call">Обсудить проект</button>
        </div>
        <ul class="category__list">
            <li>
                <a href="">Все</a>
            </li>
            <li>
                <a href="">Металлургическая отрасль</a>
            </li>
            <li>
                <a href="">Горно-обогатительная отрасль</a>
            </li>
            <li>
                <a href="">Производство минеральных удобрений</a>
            </li>
        </ul>
        <div class="news__body">
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Металлургическая отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Производство минеральных удобрений</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="projects__item">
                <div class="projects__img">
                    <picture class="lazy image--cover">
                        <img data-src="@img/projects/project-1.jpg" class="image lazy__item" alt="">
                    </picture>
                    <a href="#" class="projects__category">Горно-обогатительная отрасль</a>
                </div>
                <div class="projects__content">
                    <div class="projects__wrapper">

                        <p>Организация «горячего резервирования» ПЧ главных приводов чистовой группы клетей стана.</p>
                    </div>
                    <div class="link__more">
                        <span>Подробнее</span>
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#ar-link"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
        </div>
    </div>
</section>