<section class="subscribe">
    <div class="subscribe-container">
        <div class="subscribe__wrapper">
            <div class="subscribe__header">
                <div class="title">Подпишитесь на нашу рассылку</div>
                <p>Получайте новости Техногрупп первыми</p>
            </div>
            <form>
                <div class="subscribe__body">
                    <div class="subscribe__row">
                        <input placeholder="E-mail" class="input" required>
                        <button type="submit" class="btn-call">Подписаться</button>
                    </div>
                    <div class="subscribe__row">
                        <div class="form-consent">
                            <label class="custom-checkbox">
                                <input type="checkbox" name="personal_data_agreement" required>
                                <span class="checkbox-box"></span>
                                <span class="checkbox-text">
                                    Нажимая на кнопку «Отправить», вы даёте <a
                                        href="/politika-v-otnoshenii-obrabotki-personalnyh-dannyh/"
                                        target="_blank">согласие
                                        на обработку персональных данных</a> и соглашаетесь с <a href="/privacy-policy/"
                                        target="_blank">политикой конфиденциальности</a>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>