@font-face {
	font-family: TTCommonsPro;
	font-display: swap;
	src: url("../fonts/TTCommonsPro-ExtraBold.woff2") format("woff2"), url("../fonts/TTCommonsPro-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: TTCommonsPro;
	font-display: swap;
	src: url("../fonts/TTCommonsPro-Medium.woff2") format("woff2"), url("../fonts/TTCommonsPro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: TTCommonsPro;
	font-display: swap;
	src: url("../fonts/TTCommonsPro-Regular.woff2") format("woff2"), url("../fonts/TTCommonsPro-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
