//====================================================================================================
.footer {
    background-color: #212226;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='1920' height='195' viewBox='0 0 1920 195' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M103.464 195.425H53.8966V46.4658H0V3.26318H157.022V46.4658H103.464V195.425Z' fill='white' fill-opacity='0.03'/%3E%3Cpath d='M321.345 194.916H180.449V2.75488H321.345V45.9575H230.017V75.9193H319.308V119.206H230.017V151.714H321.345V194.916Z' fill='white' fill-opacity='0.03'/%3E%3Cpath d='M541.94 195.425H483.46L441.616 130.833L399.941 195.425H341.121L408.259 96.8827L345.45 3.26318H403.93L441.616 63.4411L478.792 3.26318H537.611L475.057 96.5433L541.94 195.425Z' fill='white' fill-opacity='0.03'/%3E%3Cpath d='M739.956 195.425H690.387V118.187H610.603V195.425H561.035V3.26318H610.603V74.9843H690.387V3.26318H739.956V195.425Z' fill='white' fill-opacity='0.03'/%3E%3Cpath d='M939.841 170.895C919.618 188.957 893.452 198.942 866.337 198.942C839.222 198.942 813.056 188.957 792.833 170.895C774.095 151.844 763.594 126.193 763.594 99.4708C763.594 72.7489 774.095 47.0975 792.833 28.0471C813.056 9.98434 839.222 0 866.337 0C893.452 0 919.618 9.98434 939.841 28.0471C958.579 47.0975 969.08 72.7489 969.08 99.4708C969.08 126.193 958.579 151.844 939.841 170.895ZM866.422 155.108C873.481 155.374 880.513 154.091 887.024 151.349C893.534 148.607 899.365 144.472 904.107 139.236C913.431 128.099 918.541 114.038 918.541 99.5133C918.541 84.9888 913.431 70.9273 904.107 59.791C899.169 54.761 893.278 50.7655 886.778 48.038C880.279 45.3106 873.301 43.9056 866.252 43.9056C859.203 43.9056 852.226 45.3106 845.726 48.038C839.226 50.7655 833.335 54.761 828.397 59.791C819.073 70.9273 813.964 84.9888 813.964 99.5133C813.964 114.038 819.073 128.099 828.397 139.236C833.191 144.499 839.08 148.647 845.649 151.39C852.219 154.132 859.309 155.401 866.422 155.108Z' fill='white' fill-opacity='0.03'/%3E%3Cpath d='M1042.12 195.425H992.633V3.26318H1133.44V46.4658H1042.12V195.425Z' fill='white' fill-opacity='0.03'/%3E%3Cpath d='M1206.78 195.34H1157.21V3.26307H1253.46C1262.44 2.76144 1271.43 4.12392 1279.86 7.26447C1288.28 10.405 1295.97 15.2559 1302.44 21.5118C1308.31 27.5425 1312.92 34.6918 1315.98 42.5357C1319.04 50.3797 1320.5 58.7586 1320.26 67.1756C1320.49 75.5409 1319.03 83.8666 1315.97 91.6544C1312.9 99.4423 1308.3 106.532 1302.44 112.5C1295.98 118.771 1288.3 123.637 1279.87 126.793C1271.44 129.948 1262.45 131.324 1253.46 130.833H1206.78V195.34ZM1246.84 87.6307C1252.98 87.9877 1259.03 86.0516 1263.82 82.1985C1265.97 80.3517 1267.66 78.0381 1268.78 75.4343C1269.9 72.8305 1270.41 70.0058 1270.27 67.1756C1270.43 64.3057 1269.93 61.437 1268.81 58.789C1267.69 56.1409 1265.99 53.7838 1263.82 51.8979C1259.03 48.0448 1252.98 46.1087 1246.84 46.4656H1206.78V87.6307H1246.84Z' fill='white' fill-opacity='0.03'/%3E%3Cpath d='M1717.91 195.425H1668.34V46.4658H1588.56V195.425H1538.99V3.26318H1717.91V195.425Z' fill='white' fill-opacity='0.03'/%3E%3Cpath d='M1920 195.425H1870.43V46.4658H1790.65V195.425H1741.08V3.26318H1920V195.425Z' fill='white' fill-opacity='0.03'/%3E%3Cpath d='M1402 140.509L1332.65 3.09375H1388.5L1429.92 92.8932L1471.68 3.09375H1527.62L1430.26 195.34H1372.21C1372.21 195.34 1398.77 145.687 1402 140.509Z' fill='white' fill-opacity='0.03'/%3E%3C/svg%3E%0A");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

    @media (max-width: $tablet) {
        background-image: none;
    }
    &-container {
        position: relative;
        z-index: 5;
    }
    &__body {
        padding: 80px 0;
        display: flex;
        justify-content: space-between;
        gap: 150px;

        @media (max-width: 1600px) {
            gap: 115px;
        }

        @media (max-width: 1366px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
            padding: 50px 0;
        }
    }

    &__nav {
        display: grid;
        grid-template-columns: 1fr 162px;
        gap: 157px;
        margin-top: 18px;
        @media (max-width: 1600px) {
            gap: 115px;
        }
        @media (max-width: 1366px) {
            order: 1;
            grid-column: 2 span;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }

        @media (max-width: $mobile) {
            order: 0;
            grid-template-columns: repeat(1, 1fr);
            grid-column: 1 span;
            gap: 50px;
        }
    }
    &__logo {
    }
    &__contacts {
    }
    &__menu {
    }
    &__actions {
        margin-top: 18px;
        .link__tg {
            span {
                font-size: 15px;
            }
        }
    }
    &__bottom {
        border-top: 1px solid rgba(166, 167, 168, 0.6);
        padding: 30px 0;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: space-between;
        align-items: center;
        color: #a6a7a8;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @media (max-width: $tablet) {
            .policy {
                order: 1;
            }
        }

        @media (max-width: $mobile) {
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .policy {
                order: 0;
                text-align: center;
            }
        }

        a {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 0%;
                height: 1px;
                background-color: #a6a7a8;
                transition: width 0.3s ease;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
    &__copy {
        @media (max-width: $mobile) {
            text-align: center;
        }
    }
}

.footer-contacts {
    &__list {
        @media (max-width: $mobile) {
            border-bottom: 1px solid rgba(166, 167, 168, 0.6);
            padding-bottom: 50px;
        }
        li {
            display: flex;
            flex-direction: column;
            gap: 3px;
            &:not(:last-child) {
                margin-bottom: 30px;

                @media (max-width: $mobile) {
                    margin-bottom: 20px;
                }
            }
            span {
                display: inline-block;
                color: $linkColor;
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
            }

            a {
                position: relative;
                width: fit-content;
                color: #fff;
                font-size: 20px;
                font-weight: 500;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 0%;
                    height: 2px;
                    background-color: #fff;
                    transition: width 0.3s ease;
                }

                &:hover::after {
                    width: 100%;
                }

                @media (max-width: 1600px) {
                    font-size: 15px;
                }
            }
        }
    }
}
.footer-menu {
    &__list {
        li {
            &:not(:last-child) {
                margin-bottom: 30px;

                @media (max-width: $mobile) {
                    margin-bottom: 20px;
                }
            }

            a {
                position: relative;
                color: #fff;
                font-size: 20px;
                font-weight: 500;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 0%;
                    height: 2px;
                    background-color: #fff;
                    transition: width 0.3s ease;
                }

                &:hover::after {
                    width: 100%;
                }

                @media (max-width: 1600px) {
                    font-size: 15px;
                }
            }
        }
    }
}

//====================================================================================================
