@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить, если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочного шрифта ==============================================================================================================================================================================================================================================================================
// Подключить, если есть файл иконочного шрифта
//@import "fonts/icons";

// Подключить font-awesome папка webfonts должна находится в корне папки dist
// @import "fonts/font-awesome";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройка шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// По умолчанию шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "TTCommonsPro";
$fontSize: 18px;
$borderRadius: 5px;
// Основные цвета
$mainColor: #212226;
$accentColor: #013371;
$linkColor: #009cde;

// Настройка адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 375;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = Нет ограничения)
$maxWidthContainer: 1520;
// Общее отступление у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 80;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки и некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинт (контейнер меняет свою ширину по брейк-поинт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко
всем классам, содержащих *__container
Например header__container, main__container и т.п.
Сниппет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="-container"] {
		@if ($maxWidthContainer>0) {
			max-width: $containerWidth + px;
			margin: 0 auto;
			padding: 0 15px;
			@media (min-width: 1366px) {
				padding: 0 80px;
			}
		}
	}
} @else {
	// Брейк-поинтами
	[class*="-container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных классов
// Для подключения / выключения конкретных стилей смотри base.scss
@import "base";

@import "./components/breadcrumbs";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

@import "./components/hero";
@import "./components/metal";
@import "./components/projects-main";
@import "./components/news-main";
@import "./components/about-achiev";
@import "./components/about";
@import "./components/about-decision";
@import "./components/about-trust";
@import "./components/about-clients";
@import "./components/news";
@import "./components/single";
@import "./components/subscribe-form";
@import "./components/projects-single";
@import "./components/other-projects";
@import "./components/center-hero";
@import "./components/center-advantages";
@import "./components/center-baner";
@import "./components/center-benches";
@import "./components/center-stand";
@import "./components/center-target";
@import "./components/advantages-work";
@import "./components/advantages-key";
@import "./components/decisions";
@import "./components/decisions-taxonomy";
@import "./components/contacts";
@import "./components/map";

// Подключение стилей отдельных страниц
@import "home";
